api/public/.htaccess
.idea/
/.idea/
uploads/
env.js
.htaccess
app/settings/settings.json
app/settings/settings-backup.json
/local/
/.idea
.idea/php.xml
.idea/smartmobilitydata.iml
.idea/workspace.xml
