.visible-xs { display: none !important; }
.visible-sm { display: none !important; }
.visible-md { display: none !important; }
.visible-lg { display: none !important; }
.visible-xl { display: none !important; }

@media (max-width: 543px) {
    .visible-xs {
        display: block !important;
    }
}

@media (min-width: 544px) and (max-width: 767px) {
    .visible-sm {
        display: block !important;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .visible-md {
        display: block !important;
    }
}

@media (min-width: 992px) and (max-width: 1199px) {
    .visible-lg {
        display: block !important;
    }
}

@media (min-width: 1200px) and (max-width: 1599px) {
    .visible-xl {
        display: block !important;
    }
}
@media (min-width: 1600px) {
    .visible-xxl {
        display: block !important;
    }
}

/* Paars
.licht{  background: #efedf5; color: #756bb1}
.lichttekst {color:  #efedf5;}
.middel{ background: #bcbddc;}
.middeltekst {color:  #bcbddc;}
.donker{ background: #756bb1; color: white;}
.donkertekst {color:  #756bb1;}
*/

/* Blauw*/
.lichtgrijs{  background: #ebebeb; color: #484848}
.lichtblauw{  background: #e2eeee;}
.middelblauw{ background: #d5e0e0;}
.licht{  background: #deebf7; color: #2D487F}
.lichttekst {color:  #deebf7;}
.middel{ background: #9ecae1;}
.middeltekst {color:  #9ecae1;}
.donker{ background: #3182bd; color: white;}
.donkertekst {color:  #3182bd;}      
.groen{ background: #44FF44;}
.oranje{ background: orange;}
.rood{ background: red;}
.grijs{ background: silver;}
.groentekst{ color: #44FF44;}
.oranjetekst{ color: orange;}
.roodtekst{ color: red;}
.grijstekst{ color: silver;}
.tekstl { font-size: 1.5em; font-weight: bold}
.tekstxl { font-size: 2em; font-weight: bold}
.tekst50 {font-size: 0.5em;}
.scroll200{
    max-height: 200px;
    overflow: auto;
}

.nomargin{
    margin: 0px;
}

body{
    padding: 0px;
    margin: 120px 0px 0px 0px;
    font-family: Arial, sans-serif;
}

#topmessage{
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    padding: 10px;
    height: 12px;
    font-size: 12px;
    background: red;
    color: white;
    border-bottom: 1px solid white;
    z-index: 1001;
}

#header{
    position: fixed;
    top: 33px;
    left: 0px;
    right: 0px;
    height: 27px;
    padding: 10px;
    margin-bottom: 20px;
    z-index: 1002;
}

#footer{
    height: 80px;
    padding: 10px;
    margin-top: 50px;
}

#container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}
@media (min-width: 768px) {
  #container {
    width: 750px;
  }
  .extra{
      display: none;
  }
}            
@media (min-width: 992px) {
  #container {
    width: 970px;
  }
  .extra{
      display: block;
  }
}
@media (min-width: 1200px) {
  #container {
    width: 1170px;
  }
  .extra{
      display: block;
  }
}

a {
    color:  #3182bd;
    text-decoration: none;
}

a:hover {
}

td{
    vertical-align: top;
}

.logo{
    font-weight: bold;
    font-family: Arial;
}
.logo .top{
}
.logo .bottom{
    font-size: 146%;    
}

#header ul{
    list-style: none;
    padding: 0px;
    margin: 0px; 
}

#header ul li{
    list-style: none;
    display: inline-block;
    padding-right: 2em;
    font-size: 1.5em;
}

#header ul li a{
    color: white;
    font-weight: bold;    
}

.m-y{
    padding: 10px 0px;
}

.search-query{
    padding: 10px;
    font-size: 18px;
    margin: 10px 0px;
    width: 50%;
}

.button{
    width: 20%;
    font-size: 18px;
    margin: 10px 10px 0px 0px;
    cursor: pointer;
    padding: 12px;
    display: inline-block;
}

.right{
    float: right;
}

.fa.big{
    font-size: 18px;
    margin: 10px;
    color: #756bb1;
}

.dataset{
    width: 100%;
    margin-bottom: 10px;
    height: 70px;
    background: #F4F4F4;
    clear: both;
}

.counter{
    width: 60px;
    height: 46px;
    float: left;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    padding-top: 24px;
}

.content{
    margin-left: 80px;
    margin-right: 180px;
    height: 70px;
    overflow: hidden;
}

.content .thema{
    font-size: 12px;
    font-weight: bold;
    padding-top: 5px;
}

.content .titel{
    font-size: 18px;
    padding-top: 5px;
}

.content .titel a{
    color: black;
    font-weight: 500;
}

.content .extra, span.extra{
    font-size: 12px;
    color: #777777;
    padding-top: 3px;
}

            
@media (max-width: 768px) {
    .content .extra, span.extra{
        display: none;
    }
}

.aantallen{
    width: 80px;
    height: 70px;
    float: right;
}

.aantallen .stemmen, .aantallen .reacties{
    padding: 5px;
    background: white;
    border-radius: 5px;
    font-size: 12px;
    margin-top: 8px;
    margin-right: 20px;
}

.aantallen .waarde{
    text-align: right;
    float:right;
}

.interactie{
    float: right;
    width: 60px;
    height: 46px;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    padding-top: 24px;
}

.interactie a{
    color: white;
}


table{
    width: 100%;
}

th{
    text-align: left;
    vertical-align:bottom;
}

th.gemeente{
    height: 100px;
}

th.gemeente span{
    writing-mode: tb-rl;    
    display: block;
    text-align: right;
    padding: 0px 5px 5px 5px;
}

td.score{
    text-align:center;
    vertical-align: middle;
    color: silver;  
    width: 2.5em;
    position: relative;
}

td.score a{
    display: block;
    position: absolute;
    bottom: 0px;
    top: 0px;
    right: 0px;
    left: 0px;
    color: white;
    padding-top: 1.75em;
}

td.score span{
}

td.score span.active {display: none;}
td.score span.passive {display: inline;}
td.score:hover span.active {display: inline;}
td.score:hover span.passive {display: none;}


div.score{
    float: right;
    width: 100px;
    height: 100px;

    border: 1px solid black;
}
div.score div{
    padding: 38px 0px;
    line-height: 24px;
    width: 100px;
    text-align: center;
    vertical-align: middle;
    font-size: 24px;
    font-weight: bold;
}
div.score div.rood{ background: red; color: white;}
div.score div.oranje{ background: orange; color: white;}
div.score div.groen{ background: green; color: white;}
div.score div.blauw{ background: #9ecae1; color: white;}

form table{
    width: 100%;
}

form table tr{
    margin-bottom: 10px;
}

form table td:first-child{
    width: 30%
}

form table td, form.new-dataset table td input, form table td select{
    font-size: 16px;
    padding: 10px;
}

form.score table td input{
    font-size: 16px;
    padding: 5px;
    margin: 5px 0px;
}

form table td input[type="radio"]{
    margin-right: 10px;
}

form table td input[type="text"]{
    width: 480px;   
}

form.score table td input[type="text"]{
    width: 100%;   
}

.subheader{
    background: #deebf7; 
    color: #3182bd;   
    padding: 10px;
    margin: 10px 0px;   
    font-weight: bold;
}

div.scoredetail table td{
    font-size: 16px;
    padding: 10px;
}

div.editscorefooter{
    margin: 100px 0px 20px 0px;
    padding-top: 10px;
    border-top: 1px solid silver;
}

form table td select{
    width: 500px;
}

form .suggestie{
    margin-top: 10px;
    list-style: circle;
}

span.toelichting{
    display: block;
    margin-top: 10px;
    font-style: italic;
    color: silver;
}

div.stoplicht{
    display: inline-block;
    height: 16px;
    width: 16px;
    margin-right: 8px;
    margin-top: 5px;
}

div.stoplicht.rood{ background: red}
div.stoplicht.oranje{ background: orange}
div.stoplicht.groen{ background: green}

textarea.toelichting{
    width: 100%;
    height: 65px;
    margin: 5px 0px;
}

table.datasetdetail{
    border-spacing: 0px;
}

table.datasetdetail thead tr th{
    border-bottom: 2px solid silver;
    padding: 5px 0px;
    margin: 0px;
}

table.datasetdetail tbody tr td{
    border-bottom: 1px solid silver;
    padding: 5px 0px;
    margin: 0px;
    vertical-align: middle;
}

div.datasetdetailgemeentedetails .blok{
    display: inline-block;
    width: 1em;
    height: 1em;
    padding: 5px;
    margin-right: 5px;
    text-align: center;
}

div.opendatascore .blok{
    display: inline-block;
    width: 2em;
    font-size: 1em;
    padding: 5px;
    margin-right: 10px;
    margin-bottom: 5px;
    text-align: center;
}

div.floatblok {
    float: left;
}

div.floatblok .blok{
    width: 2em;
    font-size: 1em;
    padding: 5px;
    margin-right: 5px;
    margin-bottom: 5px;
    text-align: center;
}

div.opendatastatus td.stoplicht, div.opendataverbeteringen td.stoplicht{
    width: 2em;
}

div.opendatastatus .stoplicht, div.opendataverbeteringen .stoplicht{
    float: left;
    height: 1.3em;
    width: 1.3em;
    margin-right: 10px;
    text-align: center;
    border-radius: 1em;
}

div.opendatastatus td.statuslabel, div.opendataverbeteringen td.statuslabel{
    padding-top: 5px;
    font-weight: bold;
}

div.opendatastatus div.statuslabel, div.opendataverbeteringen div.statuslabel{
    padding-top: 5px;
    font-weight: bold;
    margin-left: 2.5em;
}
div.opendatastatus div.statustext, div.opendataverbeteringen div.statustext{
    padding-top: 5px;
    margin-left: 2.5em;
}

.gemeenteSelectie{
    border: 1px solid silver;
    padding: 10px;
}

ul.organisaties{
    margin-left: 0px;
    padding: 0px;
}

ul.organisaties li{
    list-style: none;
    margin-bottom: 5px;
}

<!-- ImageUpload Directive -->
.clearfix{
    overflow: auto;
}
.dropzone {
    position: relative;
    padding: 10px;
    border: 1px dashed #b3b3b3;
    border-radius: 4px;
    background-color: #f3f3f3;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.dropzone .msg{
    color: silver;
}
input.fileUpload{
    display: none;
}
.preview{
    margin: 10px 0;
    padding: 5px;
}
.previewData img{
    width: 100%;
}
.previewDetails{
    display: inline-block;
    float: left;
    margin: 5px;
    padding: 8px;
}
.detail{
    font-family: arial;
    padding: 5px;
    overflow: hidden;
    max-width: 200px;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.previewControls{
    display: inline-block;
    float: left;
    margin: 40px 30px;
}
.circle{
    border: 2px solid #5B93F5;
    border-radius: 20px;
    display: inline-block;
    height: 25px;
    width: 25px;
    margin: 5px;
    cursor: pointer;
    color: #5B93F5;
}
.circle.upload:hover{
    border: 2px solid green;
}
.circle.upload:hover i.fa-check{
    color: green;
}
.circle.remove:hover{
    border: 2px solid red;
}
.circle.remove:hover i.fa-close{
    color: red;
}
.circle i{
    position: relative;
    font-size: 14px;
}
.circle i.fa-check{
    top: 3px;
    left: 5px;
}
.circle i.fa-close{
    top: 2px;
    left: 7px;
}
<!-- end ImageUpload directive -->

ul.treeview{
    padding-left: 0px;
}

ul.treeview li{
    list-style: none;
}


.columns3{
}
@media (min-width: 768px) {
    .columns3{
        column-count: 2;
        column-gap: 20px;
    }
}
@media (min-width: 1140px) {
    .columns3{
        column-count: 3;
        column-gap: 20px;
    }
}

.main-title {
    color: black;
    background-color: rgba(226, 238, 238, .85);
    text-align: left;
}

input[type="checkbox"],input[type="radio"]{
    margin-right: 10px;
}

.linebreaks{
    white-space: pre-wrap;
}
