<div class="background" style="background-image: url('app/images/pexels-karol-d-409701.jpg');"></div>

    <div ng-hide="user.auth.authenticated" class="center-block w-xxl w-auto-xs p-y-md">
        <div class="p-a-md box-color r box-shadow-z1 text-color m-a">
            <div class="m-b text-sm">
                <strong>Welkom bij de Datapedia Smart Mobility</strong>
                <p class="text-muted">Alle gegevens op de Datapedia zijn beschikbaar voor iedereen. Iedereen kan ook zonder inloggen reacties of suggesties geven.<br/>Inloggen is alleen nodig voor het beheren en redigeren van de Datapedia.</p>
            </div>
            <form name="form" ng-submit="doLogin()">
                <div class="md-form-group float-label">
                    <input type="email" class="md-input" ng-model="email" required>
                    <label>E-mailadres</label>
                </div>
                <div class="md-form-group float-label">
                    <input type="password" class="md-input" ng-model="password" required>
                    <label>Wachtwoord</label>
                </div>
                <div class="m-b-md">
                    <label class="md-check">
                        <input type="checkbox" ng-model="refresh" ng-init="refresh = false"><i class="primary"></i> Ingelogd blijven
                    </label>
                </div>
                <button type="submit" class="btn primary btn-block p-x-md">Inloggen</button>
            </form>
        </div>

        <div class="p-v-lg text-center">
            <div class="m-b"><a ui-sref="passwordforgot" class="text-primary _600">Wachtwoord vergeten</a></div>
            <div class="m-b"><a ui-sref="signup" class="text-primary _600">Account aanmaken</a></div>
        </div>
    </div>

    <div ng-show="user.auth.authenticated" class="center-block w-xxl w-auto-xs p-y-md">
        <div class="p-v-lg text-center">
            <p>Je bent al ingelogd als {{user.auth.email}}</p>
            <div class="m-b"><a ui-sref="start" class="text-primary _600">Home</a></div>
            <div class="m-b"><a ui-sref="logoff" class="text-primary _600">Uitloggen</a></div>
        </div>
    </div>
