<div class="p-a">
    <div class="row no-gutter">
        <div class="col-xs-12 col-md-8 no-gutter">
            <div class="box licht frontpage">
                <div class="box-header">
                    <h1>Datapedia <span class="text-primary">Data Top 15</span></h1>
                </div>
                <div class="box-body">
                    Deze Datapedia is een onderdeel van het landelijk project 'Digitalisering Mobiliteitsdata'. Doel is de wegbeheerder digitaal capabel maken en de data-items eind 2023 voor 90% structureel beschikbaar te hebben.
                    <br/>Het ministerie van IenW, regionale datateams (RDT's) en verschillende betrokken partijen werken hierbij samen. Startpunt is de Data Top 15.
                    <br/><br/><i class="fa fa-chevron-right"></i> De Datapedia helpt je bij het wat, het waarom, en het hoe van deze digitaliseringsopgave. Zodat je direct aan de slag kan!
                    <!--
                    Aan de slag met mobiliteitsdata! De Datapedia Smart Mobility wil laten zien waarom data zo belangrijk is voor Smart Mobility, welke datasets en voorbeelden er al zijn en hoe je zelf snel aan de slag kan gaan.
                    <br/>We helpen je op weg met onderstaande checklists. Welke past het beste bij jou?
                    -->
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-md-4 no-gutter" ng-if="false">
            <div class="box donker frontpage">
                <div class="box-header">
                    <h1>Het RDT helpt je graag!</h1>
                </div>
                <div class="box-body">
                    Voor deze uitdaging is Nederland verdeeld in 8 landsdelen, met ieder een eigen Regionaal Datateam (RDT). Het RDT helpt wegbeheerders bij het digitalisering van mobiliteitsdata.
                    <br/><br/><a href="https://www.datapedia.nl/datatop15/node/contact/1891"><i class="fa fa-chevron-right"></i> Vind hier de contactgegevens van de RDT's</a>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-md-4 no-gutter">
            <div class="box donker frontpage">
                <div class="box-header">
                    <h1>Bekijk de nieuwe toolbox!</h1>
                </div>
                <div class="box-body">
                    De landelijke toolbox is beschikbaar voor de eerste data-items. In de toolbox is voor ieder data-item een handreiking, video en dashboard beschikbaar.
                    <br/><br/><a ui-sref="module.nodescustomview({type: 'datatop15', customview: 'toolbox'})"><i class="fa fa-chevron-right"></i> Bekijk hier de toolbox</a>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12 col-md-4">
            <div class="box">
                <img src="uploads/main-thumb1.jpg" style="width: 100%">
                <div class="box-body licht" style="min-height: 12em">
                    <h5>Wat?</h5>
                    <ul class="frontpage">
                        <li><div class="pull-left"><i class="fa fa-chevron-right"></i></div>Wat is de <a class="text-primary" ui-sref="module.nodes({type: 'datatop15'})">De Data Top 15?</a></li>
                        <li><div class="pull-left"><i class="fa fa-chevron-right"></i></div>Wat moet ik doen?<br/>Zie de <a class="text-primary" ui-sref="module.node({nodeId: 555})">informatie en handreiking</a> per data-item</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-md-4">
            <div class="box">
                <img src="uploads/main-thumb2.jpg" style="width: 100%">
                <div class="box-body licht" style="min-height: 12em">
                    <h5>Waarom?</h5>
                    <ul class="frontpage">
                        <li><div class="pull-left"><i class="fa fa-chevron-right"></i></div>Bekijk de <a class="text-primary" ui-sref="module.nodes({type: 'voorbeeldboek'})">voorbeelden in de praktijk</a></li>
                        <!--<li><div class="pull-left"><i class="fa fa-chevron-right"></i></div>Bekijk de <a class="text-primary" ui-sref="module.nodes({type: 'onderwerp'})">verschillende onderwerpen en bijbehorende beschikbare datasets</a></li>-->
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-md-4">
            <div class="box">
                <img src="uploads/main-thumb3.jpg" style="width: 100%">
                <div class="box-body licht" style="min-height: 12em">
                    <h5>Help!</h5>
                    <ul class="frontpage">
                        <li><div class="pull-left"><i class="fa fa-chevron-right"></i></div>Voor hulp, neem contact op met <a class="text-primary" ui-sref="module.node({nodeId: 1891})">jouw RDT</a></li>
                        <li><div class="pull-left"><i class="fa fa-chevron-right"></i></div>Hoe ver zijn de andere wegbeheerders in jouw regio?<br/><a class="text-primary" ui-sref="module.nodes({type: 'gemeente'})">Status per wegbeheerder</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="box">
        <div class="box-header extragroot extradonker">
            <div class="navbar pull-right text-normal">
                <form class="navbar-form form-inline navbar-item v-m" role="search" ng-submit="naarZoeken(zoeken.q)">
                    <div class="form-group l-h m-a-0">
                        <div class="input-group input-group-md">
                            <input type="text" class="form-control ng-pristine ng-valid ng-empty ng-touched" ng-model="zoeken.q" placeholder="Zoeken in alles..." style="min-width: 343px; height: 3rem">
                            <span class="input-group-btn">
                                <button type="submit" class="btn white b-a no-shadow" style="height: 3rem"><i class="fa fa-search"></i></button>
                            </span>
                        </div>
                    </div>
                </form>
                <div style="clear:both"></div>
            </div>
            <h2>Zoeken</h2>
            <small>Zoek in alle beschikbare gegevens (data, voorbeelden, organisaties, etc.)</small>
        </div>
    </div>

    <div class="box m-t pointer" ui-sref="module.nodes({'type': 'voorbeeldboek'})">
        <div class="box-header extragroot">
            <h2>Voorbeelden</h2>
            <small>3 voorbeelden waarbij digitalisering in de praktijk wordt gebracht. Bekijk <span class="text-info">alle voorbeelden</span></small>
        </div>
    </div>
    <div class="row">
        <div ng-repeat="node in voorbeelden track by $index">
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-4 node">
                <div class="box pointer licht" ui-sref="module.node({nodeId: node.nodeId})">
                    <div class="item dark" style='height: 220px; background-image: url("{{node.imgUrl}}"); background-repeat: no-repeat; background-position: center; background-size: cover;'>
                        <a class="item-overlay w-full">
                            <span class="bottom text-md primary" style='padding: 10px; font-weight: bold'><i class="fa fa-plus"></i> Klik voor meer info</span>
                        </a>
                    </div>
                    <div class="p-a">
                        <div class="node-tile-text">
                            <h5>{{node.title}}</h5>
                            <span ng-bind-html="node.data['aanleiding'] | plain:150"></span>
                            <!--<br/><a class="btn btn-xs white m-t">Meer info</a>-->
                        </div>
                        <div class="node-tile-labels">
                            <a href="" class="pull-left mralabel" ng-repeat="tag in node.voorbeeldboek_datatop15" ng-hide="tag.length==0">{{tag}}</a>
                            <div style="clear: both"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div ng-if="($index + 1) % 2 == 0" class="clearfix visible-lg visible-md" style="clear: both"></div>
            <div ng-if="($index + 1) % 3 == 0" class="clearfix visible-xl visible-xxl" style="clear: both"></div>
        </div>
    </div>

    <div class="extradonker box m-t pointer" ui-sref="module.nodes({'type': 'project'})">
        <div class="box-header">
            <h2>Nuttige informatie</h2>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-4 node">
            <div class="box licht">
                <iframe style="width: 100%; height: 220px; padding: 0px; margin: 0px;" src="https://www.youtube.com/embed/KJJ1UmrhhcQ" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                <div class="p-a" style="margin: -6px">
                    <div class="node-tile-text">
                        <h5>Wat is data? En waarom is het zo belangrijk?</h5>
                        <p>In deze video/webinar van 14 minuten neemt Jasper Soetendal, data-expert van het MRA Platform Smart Mobility, je mee in een verhaal over wat data is en waarom het zo belangrijk is. Zeer geschikt voor iedereen die data 'ongrijpbaar' vindt.</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-4 node">
            <div class="box licht">
                <a href='uploads/Datakookboek.pdf' target='_blank'>
                    <div class="item dark" style='height: 220px; background-image: url("uploads/kookboek.png"); background-repeat: no-repeat; background-position: center; background-size: cover;'></div>
                </a>
                <div class="p-a">
                    <div class="node-tile-text">
                        <h5>Datakookboek Smart Mobility (PDF)</h5>
                        <p>In het Datakookboek Smart Mobility geven we antwoord op de vraag hoe je data kunt gebruiken in smart mobility. Ook krijg je inspiratie, tips, tricks en concrete stappen om zelf met data aan de slag te gaan.</p>
                        <p class="m-t"><a href='uploads/Datakookboek.pdf' target='_blank' class='mralabel'>Download de PDF &gt;</a></p></p>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-4 node">
            <div class="box licht">
                <div class="item dark" style='height: 220px; background-image: url("app/images/logoMRA.png"); background-repeat: no-repeat; background-position: center; background-size: cover;'></div>
                <div class="p-a">
                    <div class="node-tile-text">
                        <h5>Smart Mobility Platform MRA</h5>
                        <p>Deze Datapedia is een initiatief van het <a href="http://smartmobilitymra.nl/" target="_blank" class="text-primary">MRA Platform Smart Mobility</a> in samenwerking met het <a ui-sref="module.node({'nodeId':1891})" class="text-primary">Regionaal Datateam Provincie Noord-Holland en Flevoland</a>. Met de Datapedia willen we ambtenaren en andere professionals in het mobiliteitsdomein zo concreet mogelijke hulp geven om aan de slag te kunnen gaan met data en smart mobility.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>