<div class="p-a">
    <div class="row no-gutter">
        <div class="col-xs-12 col-md-8 no-gutter">
            <div class="box licht frontpage">
                <div class="box-header">
                    <h1>Datapedia <span class="text-primary">Smart Mobility</span></h1>
                </div>
                <div class="box-body">
                    Voor de gemeentes in de Metropoolregio Amsterdam ligt er een mooie uitdaging in het digitaliseren van mobiliteitsdata.
                    Verdere digitalisering is essentieel om mobiliteit slimmer te maken: om overheidstaken beter en efficienter uit te voeren, om de reiziger beter te informeren en om innovatie en samenwerking met andere partijen te vereenvoudigen.
                    <br/><br/>De Datapedia Smart Mobility helpt je bij het waarom, het wat en het hoe en zet je het liefst direct aan het werk!
                    <!--
                    Aan de slag met mobiliteitsdata! De Datapedia Smart Mobility wil laten zien waarom data zo belangrijk is voor Smart Mobility, welke datasets en voorbeelden er al zijn en hoe je zelf snel aan de slag kan gaan.
                    <br/>We helpen je op weg met onderstaande checklists. Welke past het beste bij jou?
                    -->
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-md-4 no-gutter">
            <div class="box donker frontpage">
                <div class="box-header">
                    <h1>Wij helpen je graag!</h1>
                </div>
                <div class="box-body">
                    De Datapedia Smart Mobility is een initatief van het <a href="https://smartmobilitymra.nl" target="_blank">Platform Smart Mobility in de Metropoolregio Amsterdam (MRA)</a> en het Regionaal Datateam Landsdeel Noord-West. Vragen? <a href="mailto:j.soetendal@vervoerregio.nl">Neem contact met ons op!</a>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12 col-md-4">
            <div class="box">
                <div class="box-header donker">
                    <h2>Waarom?</h2>
                </div>
                <div class="box-body licht">
                    <div class="form-group" style="min-height: 3em">
                        <div class="checkbox"><label class="ui-check ui-check-md"><input type="checkbox"> <i class="dark-white"></i> Bekijk de video <a class="text-primary" ui-sref="node({nodeId: 530})">"Wat is data en waarom is het zo belangrijk"</a></label></div>
                    </div>
                    <div class="form-group" style="min-height: 3em">
                        <div class="checkbox"><label class="ui-check ui-check-md"><input type="checkbox"> <i class="dark-white"></i>Zie de vele  <a class="text-primary" ui-sref="nodes({type: 'project'})">voorbeelden</a> van hoe data mobiliteit slimmer kan maken</label></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-md-4">
            <div class="box">
                <div class="box-header donker">
                    <h2>Wat en hoe?</h2>
                </div>
                <div class="box-body licht">
                    <div class="form-group" style="min-height: 3em">
                        <div class="checkbox"><label class="ui-check ui-check-md"><input type="checkbox"> <i class="dark-white"></i> Lees het <a class="text-primary" ui-sref="nodes({type: 'article'})">Handboek Data Top 15</a></label></div>
                    </div>
                    <!--
                    <div class="form-group" style="min-height: 3em">
                        <div class="checkbox"><label class="ui-check ui-check-md"><input type="checkbox"> <i class="dark-white"></i> <a ui-sref="nodes({type: 'onderwerp'})">Bekijk de verschillende onderwerpen en bijbehorende beschikbare datasets</a></label></div>
                    </div>
                    -->
                    <div class="form-group" style="min-height: 3em">
                        <div class="checkbox"><label class="ui-check ui-check-md"><input type="checkbox"> <i class="dark-white"></i> Bekijk de <a class="text-primary" ui-sref="nodes({type: 'onderwerp'})">verschillende onderwerpen en bijbehorende beschikbare datasets</a> en  <a class="text-primary" ui-sref="nodes({'type': 'datatop15'})">Data Top 15</a><!-- of <a ui-sref="nodes({type: 'zoeken'})">zoek naar een specifieke dataset</a>--></label></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-md-4">
            <div class="box">
                <div class="box-header donker">
                    <h2>Aan de slag!</h2>
                </div>
                <div class="box-body licht">
                    <div class="form-group" style="min-height: 3em">
                        <div class="checkbox"><label class="ui-check ui-check-md"><input type="checkbox"> <i class="dark-white"></i>Bekijk de  <a class="text-primary" ui-sref="nodes({'type': 'datatop15'})">Data Top 15</a> met een <a class="text-primary" ui-sref="node({nodeId: 571})">aanpak</a> voor ieder data-item</label></div>
                    </div>
                    <div class="form-group" style="min-height: 3em">
                        <div class="checkbox"><label class="ui-check ui-check-md"><input type="checkbox"> <i class="dark-white"></i>Doe de <a class="text-primary" ui-sref="nodes({'type': 'gemeente'})">'intake' voor jouw gemeente</a> of vul deze verder aan.</label></div>
                    </div>
                    <!--
                    <div class="form-group" style="min-height: 3em">
                        <div class="checkbox"><label class="ui-check ui-check-md"><input type="checkbox"> <i class="dark-white"></i> <a ui-sref="datatop15()">Bekijk de Data Top 15, de bijbehorende onderwerpen en beschikbare datasets.</a></label></div>
                    </div>
                    <div class="form-group" style="min-height: 3em">
                        <div class="checkbox"><label class="ui-check ui-check-md"><input type="checkbox"> <i class="dark-white"></i> <a ui-sref="nodes({type: 'organisatie'})">Voeg de datasets toe voor jouw gemeente</a></label></div>
                    </div>
                    -->
                </div>
            </div>
        </div>
    </div>

    <div class="box">
        <div class="box-header extragroot extradonker">
            <div class="navbar pull-right text-normal">
                <form class="navbar-form form-inline navbar-item v-m" role="search" ng-submit="naarZoeken(zoeken.q)">
                    <div class="form-group l-h m-a-0">
                        <div class="input-group input-group-md">
                            <input type="text" class="form-control ng-pristine ng-valid ng-empty ng-touched" ng-model="zoeken.q" placeholder="Zoeken in alles..." style="min-width: 343px; height: 3rem">
                            <span class="input-group-btn">
                                <button type="submit" class="btn white b-a no-shadow" style="height: 3rem"><i class="fa fa-search"></i></button>
                            </span>
                        </div>
                    </div>
                </form>
                <div style="clear:both"></div>
            </div>
            <h2>Zoeken</h2>
            <small>Zoek in alle beschikbare gegevens (data, voorbeelden, organisaties, etc.)</small>
        </div>
    </div>

    <div class="box m-t pointer" ui-sref="nodes({'type': 'project'})">
        <div class="box-header extragroot">
            <h2>Voorbeelden</h2>
            <small>3 uitgelichte voorbeelden van Smart mobility oplossingen. Bekijk <span class="text-info">alle voorbeelden</span></small>
        </div>
    </div>
    <div class="row">
        <div ng-repeat="node in voorbeelden">
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-4 node">
                <div class="box pointer licht" ui-sref="node({nodeId: node.nodeId})">
                    <div class="item dark" style='height: 220px; background-image: url("{{node.imgUrl}}"); background-repeat: no-repeat; background-position: center; background-size: cover;'>
                        <a class="item-overlay w-full">
                            <span class="bottom text-md primary" style='padding: 10px; font-weight: bold'><i class="fa fa-plus"></i> Klik voor meer info</span>
                        </a>
                    </div>
                    <div class="p-a">
                        <div class="node-tile-text">
                            <h5>{{node.title}}</h5>
                            <span ng-bind-html="node.text | plain:150"></span>
                            <!--<br/><a class="btn btn-xs white m-t">Meer info</a>-->
                        </div>
                        <div class="node-tile-labels">
                            <a href="" class="pull-left mralabel" ng-repeat="tag in node.path.split(';')" ng-hide="tag.length==0">{{tag}}</a>
                            <div style="clear: both"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div ng-if="($index + 1) % 2 == 0" class="clearfix visible-lg visible-md" style="clear: both"></div>
            <div ng-if="($index + 1) % 3 == 0" class="clearfix visible-xl visible-xxl" style="clear: both"></div>
        </div>
    </div>

    <div class="box m-t pointer">
        <div class="box-header extragroot">
            <h2>Onderwerpen</h2>
            <small>Onderstaand overzicht toont de diverse onderwerpen waarover smart mobility data beschikbaar is of zou moeten zijn.
            <br/><span class="label rounded extradonker">1</span> = Het aantal datasets dat over dit onderwerp beschikbaar is</li></small>
        </div>
    </div>

    <div ui-include="'app/components/custom/onderwerp.kolommen.html'"></div>

    <div class="extradonker box m-t pointer" ui-sref="nodes({'type': 'project'})">
        <div class="box-header">
            <h2>Overige nuttige informatie</h2>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-4 node">
            <div class="box licht">
                <div class="item dark" style='height: 220px; background-image: url("themes/assets/images/logoSmartMob.png"); background-repeat: no-repeat; background-position: center; background-size: cover;'></div>
                <div class="p-a">
                    <div class="node-tile-text">
                        <h5>Over het Smart Mobility Platform MRA</h5>
                        <p>Met deze Datapedia wil het MRA Platform Smart Mobility inzicht geven in welke data beschikbaar is voor smart mobility en in welke projecten het al wordt gebruikt. [tekst aanpassen]</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-4 node">
            <div class="box licht">
                <iframe style="width: 100%; height: 220px; padding: 0px; margin: 0px;" src="https://www.youtube.com/embed/KJJ1UmrhhcQ" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                <div class="p-a" style="margin: -6px">
                    <div class="node-tile-text">
                        <h5>Wat is data? En waarom is het zo belangrijk?</h5>
                        <p>In deze video/webinar van 14 minuten neemt Jasper Soetendal, data-expert van het MRA Platform Smart Mobility, je mee in een verhaal over wat data is en waarom het zo belangrijk is. Zeer geschikt voor iedereen die data 'ongrijpbaar' vindt.</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-4 node">
            <div class="box licht">
                <div class="item dark" style='height: 220px; background-image: url("themes/assets/images/kookboek.png"); background-repeat: no-repeat; background-position: center; background-size: cover;'></div>
                <div class="p-a">
                    <div class="node-tile-text">
                        <h5>Datakookboek Smart Mobility (PDF)</h5>
                        <p>Op deze website vind je de meest up-to-date versie van het Datakookboek Smart Mobility. Maar we hebben ook een PDF-versie beschikbaar, om 'm door te sturen of uit te printen. <p class="m-t"><a class='mralabel' href="">Download de PDF &gt;</a></p></p>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>