<header ui-include="'app/components/main/header.part.template.html'">
</header>
<div class="background" style="background-image: url('app/images/pexels-karol-d-409701.jpg');"></div>

<!-- content -->
<div id="content" role="main">
    <div class="app-body" id="view">
        <div class="p-a m-t-3">
            <div class="row m-t-3">
                <div class="col-xs-12 col-md-4" ng-repeat="module in settings.modules track by $index" ng-class="{'col-md-offset-4': settings.modules.length == 1 && $index == 0,'col-md-offset-2': settings.modules.length == 2 && $index == 0}">
                    <div class="box" ui-sref="{{module.start.state}}({{module.start.details}})" style="cursor: pointer">
                        <img src="{{module.image}}" style="width: 100%">
                        <div class="box-body licht" style="min-height: 12em">
                            <h5>Datapedia <span class="text-primary">{{module.title}}</span></h5>
                            <p ng-bind-html="module.introduction"></p>
                            <div class="text-center m-y">
                                <div class="center btn btn-fw primary" style="margin: auto">Datapedia {{module.title}}</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>