<div class="p-a">
    <div class="white lt box-shadow">
        <div class="row">
            <div class="col-sm-6">
                <h4 class="p-a m-b-0 _300 pointer">Contentbeheer</h4>
            </div>
        </div>
    </div>

    <div class="row m-t">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header">
                    <h3>Suggesties</h3>
                </div>
                <div class="box-body" ng-show="suggestions.length > 0">
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th>#</th>
                            <th>Titel</th>
                            <th>Gemaakt</th>
                            <th>Gewijzigd</th>
                            <!--<th>Door</th>-->
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="suggestion in suggestions" class="pointer" ui-sref="node.tab({'nodeId': suggestion.nodeId, 'tab': 'version'})">
                            <td>{{suggestion.nodeId}}</td>
                            <td>{{suggestion.title}}</td>
                            <td>{{suggestion.created|geleden}}</td>
                            <td>{{suggestion.updated|geleden}}</td>
                            <!--<td>{{suggestion.userData}}</td>-->
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="m-x" ng-hide="suggestions.length > 0">
                    <div class="p-a info lt ng-scope">
                        Er zijn op dit moment geen nieuwe suggesties.
                    </div>
                </div>
            </div>

            <div class="box" ng-show="deleted.length > 0">
                <div class="box-header">
                    <h3>Verwijderd</h3>
                </div>
                <div class="box-body">
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th>#</th>
                            <th>Titel</th>
                            <th>Gemaakt</th>
                            <th>Gewijzigd</th>
                            <!--<th>Door</th>-->
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="node in deleted" class="pointer" ui-sref="node.tab({'nodeId': node.nodeId, 'tab': 'version'})">
                            <td>{{node.nodeId}}</td>
                            <td>{{node.title}}</td>
                            <td>{{node.created|geleden}}</td>
                            <td>{{node.updated|geleden}}</td>
                            <!--<td>{{suggestion.userData}}</td>-->
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="box">
                <div class="box-header">
                    <h3>Wijzigingen</h3>
                </div>
                <div class="box-body">
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th>#</th>
                            <th>Titel</th>
                            <th>Gemaakt</th>
                            <th>Gewijzigd</th>
                            <!--<th>Door</th>-->
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="update in updates" class="pointer" ui-sref="node({'nodeId': update.nodeId})">
                            <td>{{update.nodeId}}</td>
                            <td>{{update.title}}</td>
                            <td>{{update.created|geleden}}</td>
                            <td>{{update.updated|geleden}}</td>
                            <!--<td>{{suggestion.userData}}</td>-->
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>