<div class="p-a">
    <div class="white lt box-shadow">
        <div class="row">
            <div class="col-sm-6">
                <h4 class="p-a m-b-0 _300 pointer">Contentbeheer</h4>
            </div>
        </div>
    </div>

    <div ng-if="tab == 'suggestions'" ui-include="'app/components/admin/content.suggestions.template.html'" ui-view></div>
    <div ng-if="tab == 'changes'" ui-include="'app/components/admin/content.changes.template.html'" ui-view></div>
    <div ng-if="tab == 'deletes'" ui-include="'app/components/admin/content.deletes.template.html'" ui-view></div>
</div>