    <div class="row m-t">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header">
                    <h3>Wijzigingen</h3>
                </div>
                <div class="box-body" ng-show="updates.length > 0">
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th>#</th>
                            <th>Titel</th>
                            <th>Gemaakt</th>
                            <th>Gewijzigd</th>
                            <!--<th>Door</th>-->
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="update in updates" class="pointer" ui-sref="admin.node({'nodeId': update.nodeId})">
                            <td>{{update.nodeId}}</td>
                            <td>{{update.title}}</td>
                            <td>{{update.created|geleden}}</td>
                            <td>{{update.updated|geleden}}</td>
                            <!--<td>{{suggestion.userData}}</td>-->
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="m-x" ng-hide="updates.length > 0">
                    <div class="p-a">
                        Er zijn op dit moment geen recente wijzigingen.
                    </div>
                </div>
            </div>
        </div>
    </div>
