<div class="p-a">
    <div class="white lt box-shadow">
        <div class="row">
            <div class="col-sm-6">
                <h4 class="p-a m-b-0 _300 pointer">Admin</h4>
            </div>
        </div>
    </div>

    <div class="row m-t" ng-if="selected.entity">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header">
                    <div class="btn btn-primary pull-right" ng-click="selected.entity = null">&lt; Terug</div>
                    <h1>{{selected.entity.single}}</h1>
                </div>
                <div class="box-body">
                    <div class="row">
                        <div class="col-sm-2 light lt bg-auto">
                            <div class="padding">
                                <div class="m-t">
                                    <div class="nav-active-primary">
                                        <ul class="nav nav-pills nav-stacked">
                                            <li class="nav-item active">
                                                <a class="nav-link" data-toggle="tab" data-target="#tab1" aria-expanded="true">Weergave</a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link" data-toggle="tab" data-target="#tab2" aria-expanded="false">Data</a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link" data-toggle="tab" data-target="#tab3" aria-expanded="false">Relaties</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-9">
                            <div class="tab-content p-a m-b-md">
                                <div class="tab-pane animated fadeIn text-muted active" id="tab1" aria-expanded="true">
                                    <div class="box">
                                        <div class="box-header">
                                            <h2>Weergave</h2>
                                            <smal class="text-muted"></smal>
                                        </div>
                                        <div class="box-body">
                                            <form role="form" class="ng-pristine ng-valid">
                                                <div class="form-group row">
                                                    <label class="col-sm-2 form-control-label">Type</label>
                                                    <div class="col-sm-10">
                                                        <input type="text" class="form-control" ng-model="selected.entity.type">
                                                    </div>
                                                </div>
                                                <div class="form-group row">
                                                    <label class="col-sm-2 form-control-label">Naam entiteit (enkelvoud)</label>
                                                    <div class="col-sm-10">
                                                        <input type="text" class="form-control" ng-model="selected.entity.single">
                                                    </div>
                                                </div>
                                                <div class="form-group row">
                                                    <label class="col-sm-2 form-control-label">Naam entiteit (meervoud)</label>
                                                    <div class="col-sm-10">
                                                        <input type="text" class="form-control" ng-model="selected.entity.plural">
                                                    </div>
                                                </div>
                                                <div class="form-group row">
                                                    <label class="col-sm-2 form-control-label">Introductie</label>
                                                    <div class="col-sm-10"><textarea class="form-control" rows="2" ng-model="selected.entity.introduction"></textarea></div>
                                                </div>
                                                <div class="form-group row">
                                                    <label class="col-sm-2 form-control-label">Achtergrond (url)</label>
                                                    <div class="col-sm-10">
                                                        <input type="text" class="form-control" ng-model="selected.entity.background">
                                                    </div>
                                                </div>
                                                <div class="form-group row">
                                                    <label class="col-sm-2 form-control-label">Path label</label>
                                                    <div class="col-sm-10">
                                                        <input type="text" class="form-control" ng-model="selected.entity.path.label">
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="checkbox col-sm-10 col-sm-offset-2"><label><input type="checkbox" ng-model="selected.entity.path.multilevel">Multi level</label></div>
                                                    <div class="checkbox col-sm-10 col-sm-offset-2"><label><input type="checkbox" ng-model="selected.entity.path.multiple">Meerdere paths bij een {{selected.entity.single.toLowerCase()}}</label></div>
                                                </div>
                                                <div class="form-group row">
                                                    <label class="col-sm-1 form-control-label">Weergave</label>
                                                    <label class="col-sm-1 form-control-label">primair:</label>
                                                    <div class="col-sm-10">
                                                        <select class="form-control" ng-model="selected.entity.views[0]">
                                                            <option value="list">list - Lijst</option>
                                                            <option value="tile">tile - Tegels</option>
                                                            <option value="tree">tree - Kolommen</option>
                                                            <option value="chapters">chapters - Hoofdstukken</option>
                                                            <option value="geo">geo - Kaart</option>
                                                            <option value="set">set - Set</option>
                                                            <option value="custom">custom - Specifiek</option>
                                                        </select>
                                                    </div>
                                                    <label class="col-sm-1 col-sm-offset-1 form-control-label">optioneel:</label>
                                                    <div class="col-sm-10 p-t">
                                                        <div class='m-b-sm' ng-repeat="optie in ['list','tile','tree','chapters','geo','set'] track by $index">
                                                            <add-toggle label="optie" arr="selected.entity.views"></add-toggle>
                                                        </div>
                                                    </div>
                                                    <label ng-if="selected.entity.views[0] == 'custom'" class="col-sm-1 col-sm-offset-1 form-control-label">Specifiek:<br/><small class="text-muted">URL template</small></label>
                                                    <div ng-if="selected.entity.views[0] == 'custom'" class="col-sm-10">
                                                        <input type="text" class="form-control" ng-model="selected.entity.custom">
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <label class="col-sm-2">Facet search<br/><small class="text-muted">Selectie in linkerkolom</small></label>
                                                    <div class="checkbox col-sm-10"><label><input type="checkbox" ng-model="selected.entity.facet.default">Standaard aan</label><br/><label><input type="checkbox" ng-model="selected.entity.facet.optional">Optioneel</label></div>
                                                </div>
                                                <div class="row">
                                                    <label class="col-sm-2">Uitgebreid<br/></label>
                                                    <div class="checkbox col-sm-10"><label><input type="checkbox" ng-model="selected.entity.getNodesExtended">Uitgebreide nodes ophalen. (GetNodesExtended)</label></div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>

                                <div class="tab-pane animated fadeIn text-muted" id="tab2" aria-expanded="false">
                                    <div class="box">
                                        <div class="box-header">
                                            <h2>Data</h2>
                                            <smal class="text-muted"></smal>
                                        </div>
                                        <div class="box-body">
                                            <form role="form" class="ng-pristine ng-valid">
                                                <div class="row">
                                                    <div class="col-xs-12 p-t" ng-repeat="item in selected.entity.data">
                                                        <div class="form-group row">
                                                            <label class="col-sm-2 form-control-label"><strong>{{item.label}}</strong></label>
                                                            <label class="col-sm-2 form-control-label">Label</label>
                                                            <div class="col-sm-8">
                                                                <input class="form-control" type="text" ng-model="item.label">
                                                            </div>
                                                        </div>
                                                        <div class="form-group row">
                                                            <label class="col-sm-2 col-sm-offset-2 form-control-label">Toelichting bij invoer</label>
                                                            <div class="col-sm-8">
                                                                <input class="form-control"  type="text" ng-model="item.descriptionInput">
                                                            </div>
                                                        </div>
                                                        <div class="form-group row">
                                                            <label class="col-sm-2 col-sm-offset-2 form-control-label">Key</label>
                                                            <div class="col-sm-8">
                                                                <input class="form-control"  type="text" ng-model="item.key">
                                                            </div>
                                                        </div>
                                                        <div class="form-group row">
                                                            <label class="col-sm-2 col-sm-offset-2 form-control-label">Type</label>
                                                            <div class="col-sm-8">
                                                                <select class="form-control" ng-model="item.type">
                                                                    <option value="text">Tekst</option>
                                                                    <option value="url">URL</option>
                                                                    <option value="enum">Meerkeuze</option>
                                                                    <option value="custom">Aangepast</option>
                                                                </select>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="checkbox col-sm-8 col-sm-offset-4"><label><input type="checkbox" ng-model="item.required">Verplicht</label></div>
                                                            <div class="checkbox col-sm-8 col-sm-offset-4"><label><input type="checkbox" ng-model="item.facet">Facet</label></div>
                                                        </div>

                                                    </div>
                                                    <div class="btn btn-primary" ng-click="addData()">Data-item toevoegen</div>
                                                    {{selected.entity.data}}
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane animated fadeIn text-muted" id="tab3">
                                    <div class="box">
                                        <div class="box-header">
                                            <h2>Relaties</h2>
                                            <smal class="text-muted"></smal>
                                        </div>
                                        <div class="box-body">
                                            <div class="row">
                                                <form role="form" class="ng-pristine ng-valid">
                                                    <div class="row">
                                                        <div class="col-xs-12 p-t" ng-repeat="relation in selected.entity.relations">
                                                            <div class="form-group row">
                                                                <label class="col-sm-2 form-control-label"><strong>{{relation.label}}</strong></label>
                                                                <label class="col-sm-2 form-control-label">Key</label>
                                                                <div class="col-sm-8">
                                                                    <input class="form-control" type="text" ng-model="relation.key">
                                                                </div>
                                                            </div>
                                                            <div class="form-group row">
                                                                <label class="col-sm-2 col-sm-offset-2 form-control-label">Koppeling naar:</label>
                                                                <div class="col-sm-8">
                                                                    {{relation.type}} <!-- TODO: Hier selectlist van maken?? -->
                                                                </div>
                                                            </div>
                                                            <div class="form-group row">
                                                                <label class="col-sm-2 col-sm-offset-2 form-control-label">Label</label>
                                                                <div class="col-sm-8">
                                                                    <input class="form-control"  type="text" ng-model="relation.label">
                                                                </div>
                                                            </div>
                                                            <div class="form-group row">
                                                                <label class="col-sm-2 col-sm-offset-2 form-control-label">Minimumaantal</label>
                                                                <div class="col-sm-8">
                                                                    <input class="form-control" type="number" min="0" max="100" ng-model="relation.min">
                                                                </div>
                                                            </div>
                                                            <div class="form-group row">
                                                                <label class="col-sm-2 col-sm-offset-2 form-control-label">Maximumaantal</label>
                                                                <div class="col-sm-8">
                                                                    <input class="form-control" type="number" min="0" max="100" ng-model="relation.max">
                                                                </div>
                                                            </div>
                                                            <div class="row">
                                                                <div class="checkbox col-sm-8 col-sm-offset-4"><label><input type="checkbox" ng-model="item.facet">Facet</label></div>
                                                            </div>

                                                        </div>
                                                        <a ng-click="showAddRelatie = !showAddRelatie">Relatie toevoegen</a>
                                                        <div ng-show="showAddRelatie">
                                                            <select ng-model='newrelation.type'>
                                                                <option ng-repeat="entity in settings.content.entities" ng-value="entity.key">{{entity.plural}}</option>
                                                            </select>
                                                            <div class="btn btn-primary" ng-click="addRelatie()">Relatie met deze entiteit toevoegen</div>
                                                        </div>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="box">
                                        <div class="box-header">
                                            <h2>Afhankelijkheden</h2>
                                            <smal class="text-muted">...</smal>
                                        </div>
                                        <div class="box-body">
                                            <div class="row">
                                                <form role="form" class="ng-pristine ng-valid">
                                                    <div class="row">
                                                        <div class="col-xs-12 p-t" ng-repeat="dependency in selected.entity.dependencies">
                                                            <div class="form-group row">
                                                                <label class="col-sm-2 form-control-label"><strong>{{dependency.label}}</strong></label>
                                                                <label class="col-sm-2 form-control-label">Key</label>
                                                                <div class="col-sm-8">
                                                                    <input class="form-control" type="text" ng-model="dependency.key">
                                                                </div>
                                                            </div>
                                                            <div class="form-group row">
                                                                <label class="col-sm-2 col-sm-offset-2 form-control-label">Koppeling naar:</label>
                                                                <div class="col-sm-8">
                                                                    {{dependency.type}} <!-- TODO: Hier selectlist van maken?? -->
                                                                </div>
                                                            </div>
                                                            <div class="form-group row">
                                                                <label class="col-sm-2 col-sm-offset-2 form-control-label">Label</label>
                                                                <div class="col-sm-8">
                                                                    <input class="form-control"  type="text" ng-model="dependency.label">
                                                                </div>
                                                            </div>
                                                            <div class="form-group row">
                                                                <label class="col-sm-2 col-sm-offset-2 form-control-label">Beschrijving</label>
                                                                <div class="col-sm-8">
                                                                    <input class="form-control"  type="text" ng-model="dependency.description">
                                                                </div>
                                                            </div>
                                                            <div class="form-group row">
                                                                <label class="col-sm-2 col-sm-offset-2 form-control-label">Toelichting bij invoer</label>
                                                                <div class="col-sm-8">
                                                                    <input class="form-control"  type="text" ng-model="dependency.descriptionInput">
                                                                </div>
                                                            </div>
                                                            <div class="form-group row">
                                                                <label class="col-sm-2 col-sm-offset-2 form-control-label">View template</label>
                                                                <div class="col-sm-8">
                                                                    <input class="form-control"  type="text" ng-model="dependency.view">
                                                                </div>
                                                            </div>
                                                            <div class="form-group row">
                                                                <label class="col-sm-2 col-sm-offset-2 form-control-label">Minimumaantal</label>
                                                                <div class="col-sm-8">
                                                                    <input class="form-control" type="number" min="0" max="100" ng-model="dependency.min">
                                                                </div>
                                                            </div>
                                                            <div class="form-group row">
                                                                <label class="col-sm-2 col-sm-offset-2 form-control-label">Maximumaantal</label>
                                                                <div class="col-sm-8">
                                                                    <input class="form-control" type="number" min="0" max="100" ng-model="dependency.max">
                                                                </div>
                                                            </div>
                                                            <div class="row">
                                                                <div class="checkbox col-sm-8 col-sm-offset-4"><label><input type="checkbox" ng-model="item.facet">Facet</label></div>
                                                            </div>

                                                        </div>
                                                        <a ng-click="showAddRelatie = !showAddRelatie">Relatie toevoegen</a>
                                                        <div ng-show="showAddRelatie">
                                                            <select ng-model='newrelation.type'>
                                                                <option ng-repeat="entity in settings.content.entities" ng-value="entity.key">{{entity.plural}}</option>
                                                            </select>
                                                            <div class="btn btn-primary" ng-click="addRelatie()">Relatie met deze entiteit toevoegen</div>
                                                        </div>
                                                    </div>
                                                </form>

                                                {{selected.entity.dependencies}}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row m-t" ng-hide="selected.entity">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header">
                    <div class="btn btn-primary pull-right" ng-click="saveSettings()">Alles opslaan</div>
                    <h1>Entiteiten</h1>
                </div>
                <div class="box-body">
                    <div class="box" ng-repeat="entity in settings.content.entities">
                        <div class="box-header">
                            <div class="btn btn-fwd pull-right" ng-click="selected.entity = entity"><span ng-hide="show[entity.type]">Aanpassen</span><span ng-show="show[entity.type]">Inklappen</span></div>
                            <div class="btn btn-danger pull-right m-r" ng-click="deleteEntity(entity.type)" ng-if="!count[entity.type] || count[entity.type] == 0">Verwijderen</div>
                            <h2 ng-click="selected.entity = entity">{{entity.single}}</h2>
                            <small>{{count[entity.type]}} {{entity.plural.toLowerCase()}}</small>
                        </div>
                        <div class="box-divider"></div>
                    </div>
                </div>
                <div class="box-footer">
                    <div class="btn btn-primary pull-right" ng-click="saveSettings()">Alles opslaan</div>
                    <div class="btn btn-primary" ng-click="addEntity();">Entiteit toevoegen</div>
                </div>
            </div>
        </div>
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header">
                    <h3>Navigatie</h3>
                </div>
                <div class="box-body">
                    <div ng-repeat="nav in settings.navigation">
                        <h3>{{nav.label}}</h3>
                        {{nav}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>