<div>
    <div class="box incontent">
        <div class="box-header smaller">
            <h3 class="text-primary">Inventarisatie</h3>
        </div>
        <div class="box-divider smaller"></div>
        <div class="box-body">
            <p ng-bind-html="trustAsHtml(node.data['Inventarisatie'])"></p>
        </div>
    </div>
    <div class="box incontent" style="margin-left: -1rem">
        <div class="box-header">
            <h3 class="text-primary">Niveau's</h3>
        </div>
        <div class="box-divider"></div>
        <div class="box-body">
            <div style="clear:both">
                <div class="niveaublokje YlGnBu q0-5 pull-left">1</div>
                <div style="margin: 0em 0em 1em 3em">
                    <strong>Nog niet gestart</strong>
                    <p class="m-t-sm" ng-bind-html="trustAsHtml(node.data['Niveau1'])"></p>
                </div>
            </div>
            <div style="clear:both">
                <div class="niveaublokje YlGnBu q1-5 pull-left">2</div>
                <div style="margin: 0em 0em 1em 3em">
                    <strong>Oriënterend</strong>
                    <p class="m-t-sm" ng-bind-html="trustAsHtml(node.data['Niveau2'])"></p>
                </div>
            </div>
            <div style="clear:both">
                <div class="niveaublokje YlGnBu q2-5 pull-left">3</div>
                <div style="margin: 0em 0em 1em 3em">
                    <strong>Aan de slag</strong>
                    <p class="m-t-sm" ng-bind-html="trustAsHtml(node.data['Niveau3'])"></p>
                </div>
            </div>
            <div style="clear:both">
                <div class="niveaublokje YlGnBu q3-5 pull-left">4</div>
                <div style="margin: 0em 0em 1em 3em">
                    <strong>Goed bezig</strong>
                    <p class="m-t-sm" ng-bind-html="trustAsHtml(node.data['Niveau4'])"></p>
                </div>
            </div>
            <div style="clear:both">
                <div class="niveaublokje YlGnBu q4-5 pull-left">5</div>
                <div style="margin: 0em 0em 1em 3em">
                    <strong>Compleet</strong>
                    <p class="m-t-sm" ng-bind-html="trustAsHtml(node.data['Niveau5'])"></p>
                </div>
            </div>
        </div>
    </div>
</div>