<div class="p-a">
    <div class="licht lt">
        <div class="row">
            <div class="col-sm-6">
                <h4 class="p-a m-b-0 datapedia">Status Data Top 15</h4>
            </div>
            <div class="col-sm-6">
                <form class="navbar-form form-inline navbar-item m-l v-m pull-right" role="search">
                    <div class="form-group l-h m-a-0">
                        <div class="input-group input-group-sm">
                            <input type="text" class="form-control ng-pristine ng-valid ng-empty ng-touched" ng-model="zoeken.searchText" placeholder="Zoek naar {{entity.plural|lowercase}}..." style="">
                            <span class="input-group-btn">
                                                        <button type="submit" class="btn white b-a no-shadow"><i class="fa fa-search"></i></button>
                                                    </span>
                            <span class="input-group-btn ng-hide" ng-show="zoeken.searchText">
                                <button class="btn white b-a no-shadow" ng-click="zoeken.searchText=''"><i class="fa fa-times"></i></button>
                            </span>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="row m-t">
        <div class="col-sm-12">
            <div class="box">
                <div class="box-header">
                    <h3>Status per gemeente per Data Top 15-item</h3>
                    <p><small>In onderstaande tabel staat de bij ons bekende status per gemeente per data-item</small></p>
                    <table class="table">
                        <tr>
                            <td><div class="status-score YlGnBu q-1-5">-</div></td>
                            <td>Onbekend</td>
                            <td><div class="status-score YlGnBu q0-5">1</div></td>
                            <td>Nog niet gestart</td>
                            <td><div class="status-score YlGnBu q1-5">2</div></td>
                            <td>Oriënterend</td>
                            <td><div class="status-score YlGnBu q2-5">3</div></td>
                            <td>Aan de slag</td>
                            <td><div class="status-score YlGnBu q3-5">4</div></td>
                            <td>Goed bezig</td>
                            <td><div class="status-score YlGnBu q4-5">5</div></td>
                            <td>Compleet</td>
                        </tr>
                    </table>
                </div>
                <div class="box-divider"></div>
                <div class="box-body">
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th>Gemeente</th>
                            <th ng-repeat="item in dataitems" style="text-align: center" title="{{item.title}}">
                                <div ui-sref="node({nodeId: item.nodeId})" class='status-item-header'>{{item.title|truncate:3}}</div>
                                <small>{{item.title|substr:3:12}}</small>
                            </th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="gemeente in gemeentes| orderBy:orderProp | filter: {'visible': true} | filter: zoeken.searchText as results track by $index">
                            <td ui-sref="node({nodeId: gemeente.nodeId})">{{gemeente.title}}</td>
                            <td ng-repeat="item in dataitems" style="text-align: center">
                                <div ng-show="matrix[gemeente.nodeId][item.nodeId]" title="{{matrix[gemeente.nodeId][item.nodeId].label}}" class="status-score YlGnBu q{{matrix[gemeente.nodeId][item.nodeId].score - 1}}-5">
                                    {{matrix[gemeente.nodeId][item.nodeId].score}}
                                </div>
                                <div ng-hide="matrix[gemeente.nodeId][item.nodeId]" title="Onbekend" class="status-score YlGnBu q-1-5">
                                    -
                                </div>
                            </td>
                        </tr>
                        </tbody>

                    </table>
                </div>
            </div>
        </div>
    </div>
</div>