<div class="p-a">
    <div class="box licht lt">
        <div class="row">
            <div class="col-xs-6">
                <h4 class="p-a m-b-0 datapedia" ui-sref="nodes({'type': node.type})">{{entity.plural}}</h4>
            </div>
            <div class="col-xs-6">
                <div class="navbar-form form-inline navbar-item m-l v-m pull-right">
                    <ul class="nav navbar-nav pull-right m-r">
                        <li class="nav-item dropdown">
                            <a class="nav-link" ui-sref="nodes({'type': node.type})">&lt;&lt; Terug</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="row m-t">
        <div class="col-xs-12 col-md-3 col-xl-2" ng-show="showChapter &&  view.tab == 'details'">
            <div class="box">
                <div class="box-body nopadding">
                    <div ui-include="'app/components/custom/nodes.simpletree.accordion.template.html'"></div>
                </div>
            </div>
        </div>
        <div class="col-xs-12" ng-class="{'col-md-9': showChapter &&  view.tab == 'details', 'col-xl-10': showChapter &&  view.tab == 'details'}">
            <div class="box ypadding">
                <div class="box-header ypadding">
                    <div class="b-b nav-active-bg row">
                        <div class="col-md-7 col-lg-8">
                            <img ng-if="node.imgUrl && !node.imgUrl.src && entity.image == 'logo'" src="{{node.imgUrl}}" style="height: 2.5rem; float: left; margin: 0px 1.5rem 1rem 0px">
                            <img ng-if="node.imgUrl && node.imgUrl.src && entity.image == 'logo'" src="{{node.imgUrl.src}}" style="height: 2.5rem; float: left; margin: 0px 1.5rem 1rem 0px">
                            <div class="text-muted" ng-if="node.path">{{node.path | path}}</div>
                            <h1>{{node.title}}</h1>
                            <div ng-if="node.date">{{node.date | compleetDateTime}}</div>
                        </div>
                        <div class="col-md-5 col-lg-4 v-b">
                            <ul class="nav nav-tabs pull-right" style="margin-top: 2.5rem">
                                <li class="nav-item">
                                    <a class="nav-link" ui-sref="node.tab({'nodeId': node.nodeId, 'tab': 'details'})" data-toggle="tab" data-target="#tab1" ng-class="{'active': view.tab == 'details'}">Details</a>
                                </li>
                                <li ng-repeat="tab in entity.tabs" class="nav-item">
                                    <a class="nav-link"  ui-sref="node.tab({'nodeId': node.nodeId, 'tab': tab.key})" href="" data-toggle="tab" data-target="#tab-{{tab.key}}" ng-class="{'active': view.tab == tab.key}">{{tab.title}}</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link"  ui-sref="node.tab({'nodeId': node.nodeId, 'tab': 'edit'})" href="" data-toggle="tab" data-target="#tab2" ng-class="{'active': view.tab == 'edit'}">Wijzig</a>
                                </li>
                                <li class="nav-item" ng-if="user.isEditorOrUp">
                                    <a class="nav-link"  ui-sref="node.tab({'nodeId': node.nodeId, 'tab': 'share'})" data-toggle="tab" data-target="#tab4" ng-class="{'active': view.tab == 'share'}">Delen</a>
                                </li>
                                <li class="nav-item" ng-if="user.isEditorOrUp">
                                    <a class="nav-link"  ui-sref="node.tab({'nodeId': node.nodeId, 'tab': 'version'})" data-toggle="tab" data-target="#tab3" ng-class="{'active': view.tab == 'version'}">Versiebeheer</a>
                                </li>
                            </ul>
                            <div style="clear: both"></div>
                        </div>
                    </div>
                </div>
                <div class="box-body ypadding itemcontent">
                    <div class="tab-content p-y m-b-md">
                        <div class="tab-pane animated fadeIn text-muted" id="tab1"  ng-class="{'active': view.tab == 'details'}">
                            <div class="row">
                                <div class="col-xs-12" ng-class="{'col-md-7 col-lg-8': entity.dependencies.length > 0 || entity.relations.length > 0,'col-md-12': entity.dependencies.length == 0 && entity.relations.length == 0 }">
                                        <div class="row">
                                            <div class="col-md-4" ng-if="entity.image == 'left'">
                                                <img ng-if="node.imgUrl && !node.imgUrl.src" src="{{node.imgUrl}}" style="width: 100%">
                                                <img ng-if="node.imgUrl && node.imgUrl.src" src="{{node.imgUrl.src}}" style="width: 100%">
                                            </div>
                                            <div class="col-xs-12" ng-class="{'col-md-8': entity.image == 'right' || entity.image=='left'}">
                                                <div ng-if="node.data.geometry">
                                                    <div map-lazy-load="https://maps.google.com/maps/api/js"
                                                         map-lazy-load-params="{{googleMapsUrl}}"
                                                         style="width: 100%; height: 30vh">
                                                        <ng-map center="{{node.geo.center}}" zoom="8" style="display: block; height: 100%; border: 1px solid black; width: 100%;">
                                                            <shape ng-repeat="path in node.geo.paths"
                                                                   name="polygon"
                                                                   paths="{{path}}"
                                                                   stroke-color="#FF0000"
                                                                   stroke-opacity="0.5"
                                                                   stroke-weight="2"
                                                                   fill-color="#000000"
                                                                   fill-opacity="0.15"
                                                            >
                                                            </shape>
                                                        </ng-map>
                                                    </div>
                                                </div>
                                                <img ng-if="node.imgUrl && !node.imgUrl.src && entity.image == 'photo'" src="{{node.imgUrl}}" style="width: 100%">
                                                <img ng-if="node.imgUrl && node.imgUrl.src && entity.image == 'photo'" src="{{node.imgUrl.src}}" style="width: 100%">
                                                <div ng-if="node.status == 'suggested'" class="m-t">
                                                    <div class="label info">Suggestie</div> <span class="text-muted"><i>Let op, dit is een suggestie, nog niet voor iedereen zichtbaar.</i></span>
                                                </div>
                                                <p ng-class='{"m-t": entity.image == "photo"}' ng-bind-html="trustAsHtml(node.text)"></p>
                                                <table class="table table-striped">
                                                    <tr ng-repeat="row in entity.data" ng-if="node.data[row.key] && row.type !='custom' && row.type !='geometry'">
                                                        <td>
                                                            <strong>{{row.label}}</strong>
                                                        </td>
                                                        <td>
                                                            <a ng-if="row.type=='url'" href="{{node.data[row.key]}}">{{node.data[row.key]}}</a>
                                                            <span ng-if="row.type=='datetime'">{{node.data[row.key] | compleetDateTime}}</span>
                                                            <span ng-hide="row.type=='url' || row.type=='datetime'" ng-if="node.data[row.key]">{{node.data[row.key]}}</span>
                                                        </td>
                                                    </tr>
                                                </table>
                                                <!--
                                                <dl>
                                                    <dt ng-repeat-start="row in entity.data" ng-if="node.data[row.key]" ng-hide="row.type =='custom'">{{row.label}}</dt>
                                                    <dd ng-if="row.type=='url'"><a href="{{node.data[row.key]}}">{{node.data[row.key]}}</a></dd>
                                                    <dd ng-repeat-end ng-hide="row.type =='custom' || row.type =='geometry' || row.type=='url'" ng-if="node.data[row.key]">{{node.data[row.key]}}</dd>
                                                </dl>
                                                -->
                                            </div>
                                            <div class="col-md-4" ng-if="entity.image=='right'">
                                                <img ng-if="node.imgUrl && !node.imgUrl.src" src="{{node.imgUrl}}" style="width: 100%">
                                                <img ng-if="node.imgUrl && node.imgUrl.src" src="{{node.imgUrl.src}}" style="width: 100%">
                                            </div>
                                        </div>

                                    <div class="m-t" ng-if="node.data.attachments && node.data.attachments.length > 0">
                                        <div class="box">
                                            <div class="box-header">
                                                <h3>Bijlage<span ng-show="node.data.attachments.length > 0">n</span></h3>
                                            </div>
                                            <div class="box-body">
                                                <ul class="list inset" ng-repeat="att in node.data.attachments">
                                                    <li class="list-item">
                                                        <a ng-if="att.url" href="{{att.url}}" target="_blank" class="list-left"><span class="w-40 r-2x _600 text-lg primary"><i class="fa fa-file"></i></span></a>
                                                        <div class="list-body">
                                                            <div><a href="{{att.url}}" target="_blank">{{att.title}}</a></div>
                                                            <div class="text-sm">
                                                                <span class="text-muted">{{att.name}}, {{att.size | bytes}}</span>
                                                            </div>
                                                        </div>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="m-t" ng-if="showChapter">
                                        <div ng-if="siblings.next" ui-sref="node({nodeId: siblings.next.nodeId})" class="btn primary pull-right">{{siblings.next.title}} <i class="fa fa-arrow-right"></i></div>
                                        <div ng-if="siblings.previous" ui-sref="node({nodeId: siblings.previous.nodeId})" class="btn primary pull-left"><i class="fa fa-arrow-left"></i> {{siblings.previous.title}}</div>
                                        <div class="clearfix"></div>
                                    </div>

                                    <div ng-repeat="row in entity.data" ng-if="row.type == 'custom'" ui-include="'{{row.templates.view}}'"></div>

                                </div>
                                <div class="col-xs-12 col-md-5 col-lg-4">
                                    <div class='box donker' ng-repeat="dependency in entity.dependencies" ng-hide="dependency.view || !node.dependencies[dependency.key] || node.dependencies[dependency.key].length == 0">
                                        <!--Dit zijn relaties waar deze node de targetId is, maar relevant zijn om te tonen-->
                                        <div class="box-header" ng-if="!dependency.view">
                                            <h3>{{dependency.label}}</h3>
                                            <small ng-show="dependency.description" class="text-muted"><i>{{dependency.description}}</i></small>
                                        </div>
                                        <div class="box-body" ng-if="!dependency.view">
                                            <ul>
                                                <li ng-repeat="dependent in node.dependencies[dependency.key]"><a ui-sref="node({nodeId: dependent.nodeId})">{{dependent.title}}</a></li>
                                                    <dl ng-if="dependency.data.length > 0" class="table">
                                                        <dt ng-repeat-start="row in dependency.data" ng-if="dependent.datarelation[row.key]">{{row.label}}</dt>
                                                        <dd ng-repeat-end>{{dependent.datarelation[row.key]}}</dd>
                                                    </dl>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class='box donker' ng-repeat="relatie in entity.relations" ng-hide="!node.relations[relatie.key] || node.relations[relatie.key].length == 0">
                                        <div class="box-header" ng-if="!relatie.view">
                                            <h3>{{relatie.label}}</h3>
                                            <small ng-show="relatie.description" class="text-muted"><i>{{relatie.description}}</i></small>
                                        </div>
                                        <div class="box-body" ng-if="!relatie.view">
                                            <ul>
                                                <li ng-repeat="related in node.relations[relatie.key]"><a ui-sref="node({nodeId: related.nodeId})">{{related.title}}</a>
                                                    <dl ng-if="relatie.data.length > 0" class="table">
                                                        <dt ng-repeat-start="row in relatie.data" ng-if="related.datarelation[row.key]">{{row.label}}</dt>
                                                        <dd ng-repeat-end>{{related.datarelation[row.key]}}</dd>
                                                    </dl>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>


                                <div class="col-xs-12" ng-repeat="dependency in entity.dependencies" ng-if="dependency.view && dependency.view.indexOf('.') > -1">
                                    <div ui-include="'{{dependency.view}}'"></div>
                                </div>
                            </div>
                            <div class="row">
                                <div ng-repeat="relatie in combined = entity.relations.concat(entity.dependencies)" ng-if="relatie.view">
                                    <div style="clear: both" ng-if="relatie.clear"></div>
                                    <div class="col-xs-12" ng-if="!relatie.cols && relatie.view.indexOf('.html') > 0" ui-include="'{{relatie.view}}'">
                                    </div>
                                    <div class="col-xs-{{relatie.cols}}" ng-if="relatie.cols && relatie.view == 'custom'">
                                        <div class="box">
                                            <div class="box-header primary">
                                                <h3>{{relatie.label}}</h3>
                                            </div>
                                            <div class="box-body">
                                                <div ng-if="node.relations[relatie.key]" ng-init="nodes = node.relations[relatie.key]"  ui-include="'{{relatie.custom}}'"></div>
                                                <div ng-if="node.dependencies[relatie.key]" ng-init="nodes = node.dependencies[relatie.key]"  ui-include="'{{relatie.custom}}'"></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xs-{{relatie.cols}}" ng-if="relatie.cols && relatie.view != 'custom'">
                                        <div class="box">
                                            <div class="box-header primary">
                                                <h3>{{relatie.label}}</h3>
                                            </div>
                                            <div class="box-body">
                                                <div ng-if="node.relations[relatie.key]" ng-init="nodes = node.relations[relatie.key]; view=relatie.view; faceted=false" ui-include="'app/components/nodes/nodes.views.template.html'"></div>
                                                <div ng-if="node.dependencies[relatie.key]" ng-init="nodes = node.dependencies[relatie.key]; view=relatie.view; faceted=false" ui-include="'app/components/nodes/nodes.views.template.html'"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane animated fadeIn text-muted" id="tab2"  ng-class="{'active': view.tab == 'edit'}">
                            <div class="row">
                                <div ng-if="!user.auth || (!user.auth.authenticated && (!user.auth.accesstoken || user.auth.nodeId != node.nodeId))" class="m-b p-a info lt">
                                    <strong>Je bent niet ingelogd</strong><br/>Dat betekent dat je wel <span ng-hide="node.nodeId > 0">nieuwe items kan invoeren</span><span ng-show="node.nodeId > 0">wijzigingen kunt opgeven</span>, maar dat deze niet automatisch verwerkt zullen worden, maar als suggestie worden aangeboden.<br/>Wil je wel direct kunnen invoeren en wijzigen? <a ui-sref="login">Log dan in</a> of <a ui-sref="signup">maak een account aan</a>.
                                    <!--TODO: Link opnemen naar inloggen en nieuw account -->
                                </div>
                                <div ng-if="user.isEditorOrUp && node.status == 'suggested'" class="m-b p-a info lt box-shadow">
                                    <strong>Dit is een suggestie</strong><br/>Je kan dit item aanpassen (indien gewenst/nodig) en vervolgens op 'Goedkeuren & Opslaan' klikken om de suggestie te accepteren.
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-xs-12 col-md-6">
                                    <div class="box">
                                        <div class="box-header">
                                            <h2>Details</h2>
                                        </div>
                                        <div class="box-divider m-a-0"></div>
                                        <div class="box-body">
                                            <form role="form" ng-submit="save(this);">
                                                <div class="form-group">
                                                    <label>{{entity.single}}</label>
                                                    <input type="text" class="form-control" ng-model="node.title" autocomplete="off">
                                                </div>
                                                <div class="form-group">
                                                    <!--<br/><small class="text-muted pull-right pointer" ng-hide="wysiwyg" ng-click="wysiwyg = true">Toon teksteditor</small>
                                                    <small class="text-muted pull-right pointer" ng-show="wysiwyg" ng-click="wysiwyg = false">Toon platte tekst</small>-->
                                                    <label>Tekst/toelichting</label>
                                                    <!--<div ng-if="wysiwyg">-->
                                                        <textarea ui-tinymce="tinymceOptions" ng-model="node.text"></textarea>
                                                    <!--
                                                    </div>
                                                    <textarea ng-if='!wysiwyg' ng-model="node.text" class="form-control" rows="4"></textarea>
                                                    -->
                                                </div>
                                                <div class="form-group" ng-if="entity.path">
                                                    <label>{{entity.path.label}}</label>
                                                    <ul style="margin: 10px 0px; padding: 0px">
                                                        <li ng-show="path" ng-repeat="path in node.path.split(';');" class="pull-left label label-md info p-a-sm m-r-sm">{{path}} <i class="pointer fa fa-times" ng-click="deletePath(path)"></i></li>
                                                        <div style="clear: both"></div>
                                                    </ul>
                                                    <input type="text" class="form-control" ng-model="searchPath" ng-focus='searchPathFocus = true'  placeholder="Voeg {{entity.path.label|lowercase}} toe">
                                                    <div class="autosuggest m-t" ng-show="(searchPath || searchPathFocus) && results.length > 0">
                                                        <strong>Selecteer bestaande {{entity.path.label|lowercase}}:</strong>
                                                        <ul>
                                                            <li ng-repeat="option in paths | filter: searchPath | limitTo: 10 as results track by $index" ng-click="addPath(option);" class="pointer">{{option}}</li>
                                                        </ul>
                                                    </div>
                                                    <div ng-show="searchPath && (!results || results.length < 1 || results[0].toLowerCase() != searchPath.toLowerCase())" class="m-t">
                                                        <strong>Voeg nieuwe {{entity.path.label|lowercase}} toe:</strong><br/>
                                                        <a ng-click="addPath(searchPath)"><i class="fa fa-plus"></i> {{searchPath}}</a>
                                                    </div>
                                                </div>
                                                <div class="form-group" ng-if="entity.image">
                                                    <label>Afbeelding</label>
                                                    <img ng-src="{{node.imgUrl}}" style='width: 100%' ng-hide="!node.imgUrl || node.imgUrl.src" class="m-b">
                                                    <div img-upload node="node" key="imgUrl" msg="Klik hier om een afbeelding toe te voegen, of sleep een afbeelding hier naar toe"></div>
                                                    <!--
                                                    <label for="file">Afbeelding</label>
                                                    <input type="file" id="file" class="form-control">
                                                    <input type="button" ng-click="doUpload()" class="btn primary" value="Toevoegen">
                                                    -->
                                                </div>
                                                <div ng-repeat="row in entity.data" class="form-group">

                                                    <label><input ng-if="row.type == 'bool'" type="checkbox" ng-value="1" ng-model="node.data[row.key]"> {{row.label}}
                                                        <span ng-if="row.descriptionInput"><br/><small class="text-muted"><i>{{row.descriptionInput}}</i></small></span>
                                                    </label><br/>
                                                    <input ng-if="row.type == 'text'" type="text" class="form-control" ng-model="node.data[row.key]">
                                                    <input ng-if="row.type == 'datetime'" type="datetime-local" class="form-control" ng-model="node.data[row.key]">
                                                    <textarea ng-if="row.type == 'textarea'" class="form-control" ng-model="node.data[row.key]"></textarea>
                                                    <input ng-if="row.type == 'url'" type="url" class="form-control" placeholder="https://" ng-model="node.data[row.key]">
                                                    <select ng-if="row.type == 'enum'"  ng-model="node.data[row.key]" class="form-control" >
                                                        <option ng-repeat="option in row.options" ng-value="option">{{option}}</option>
                                                    </select>
                                                    <div ng-if="row.type == 'custom'" ui-include="'{{row.templates.input}}'"></div>
                                                </div>

                                                <button type="submit" class="btn primary m-b"><span ng-if="user.isEditorOrUp && node.status == 'suggested'">Goedkeuren & </span>Opslaan</button>
                                                <a ng-if="user.isEditorOrUp && node.status == 'suggested'" ng-click="deleteSuggestedNode()">TODO: Deze suggestie verwijderen</a>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-md-6" ng-if="node.nodeId">
                                    <div class="box" ng-repeat="relatie in entity.relations">
                                        <div class="box-header">
                                            <h2>{{relatie.label}}</h2>
                                            <small>{{relatie.descriptionInput}}</small>
                                        </div>
                                        <div class="box-divider m-a-0"></div>
                                        <div class="box-body">
                                            <form role="form" ng-submit="addRelatie(relatie, this);">
                                                <div class="form-group relatie">
                                                    <ul class="relatie">
                                                        <li ng-repeat="related in node.relations[relatie.key]">
                                                            <div class="title p-a-sm licht">{{related.title}} <i class="text-danger text-md fa fa-times pointer pull-right" ng-if="user.isContributorOrUp" ng-click="deleteRelatie(related)"></i></div>
                                                            <div ng-if="relatie.data.length > 0" class="p-a">
                                                                <div ng-repeat="row in relatie.data" class="form-group">
                                                                    <label><input ng-if="row.type == 'bool'" type="checkbox" ng-value="1" ng-model="related.datarelation[row.key]"> {{row.label}}
                                                                        <span ng-if="row.descriptionInput"><br/><small class="text-muted"><i>{{row.descriptionInput}}</i></small></span>
                                                                    </label><br/>
                                                                    <input ng-if="row.type == 'text'" type="text" class="form-control" ng-model="related.datarelation[row.key]">
                                                                    <textarea ng-if="row.type == 'textarea'" class="form-control" ng-model="related.datarelation[row.key]"></textarea>
                                                                    <input ng-if="row.type == 'url'" type="url" class="form-control" placeholder="https://" ng-model="related.data[row.key]">
                                                                    <select ng-if="row.type == 'enum'"  ng-model="related.datarelation[row.key]" class="form-control" >
                                                                        <option ng-repeat="option in row.options" ng-value="option">{{option}}</option>
                                                                    </select>
                                                                </div>
                                                            </div>
                                                        </li>
                                                    </ul>
                                                    <div ng-hide="node.relations[relatie.key].length >= relatie.max" ng-init="results = {}">
                                                        <input type="text" class="form-control" ng-model="searchText[relatie.key]" placeholder="Voeg {{relatie.label|lowercase}} toe">
                                                        <div class="autosuggest" ng-show="searchText[relatie.key] && results.length > 0">
                                                            <strong>Selecteer een bestaande {{relatie.type}}:</strong>
                                                            <ul>
                                                                <li ng-repeat="option in relations[relatie.type] | filter: searchText[relatie.key] | nodeIdNotIn: node.relations[relatie.key] | limitTo: 10 as results track by option.nodeId" ng-click="addRelatie(relatie,option.nodeId);" class="pointer">{{option.title}}</li>
                                                            </ul>
                                                        </div>
                                                        <div ng-show="searchText[relatie.key]  && (!results || results.length < 1 || results[0].title.toLowerCase() != searchText[relatie.key].toLowerCase())">
                                                            <strong>Voeg een nieuwe {{relatie.type}} toe:</strong>
                                                            {{searchText[relatie.key]}}
                                                            <br/><button type="submit" class="btn primary">Toevoegen</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                    <div class="box" ng-repeat="dependency in entity.dependencies">
                                        <div class="box-header">
                                            <h2>{{dependency.label}}</h2>
                                            <small>{{dependency.description}}</small>
                                        </div>
                                        <div class="box-divider m-a-0"></div>
                                        <div class="box-body">
                                            <form role="form" ng-submit="addDependency(dependency, this);">
                                                <div class="form-group relatie">
                                                    <ul class="relatie">
                                                        <li ng-repeat="dependent in node.dependencies[dependency.key]">
                                                            <div class="title p-a-sm licht">{{dependent.title}} <i class="text-danger text-md fa fa-times pointer pull-right" ng-if="user.isContributorOrUp" ng-click="deleteDependency(dependent)"></i></div>
                                                            <div ng-if="dependency.data.length > 0" class="p-a">
                                                                <div ng-repeat="row in dependency.data" class="form-group">
                                                                    <label><input ng-if="row.type == 'bool'" type="checkbox" ng-value="1" ng-model="dependent.datarelation[row.key]"> {{row.label}}
                                                                        <span ng-if="row.descriptionInput"><br/><small class="text-muted"><i>{{row.descriptionInput}}</i></small></span>
                                                                    </label><br/>
                                                                    <input ng-if="row.type == 'text'" type="text" class="form-control" ng-model="dependent.datarelation[row.key]">
                                                                    <textarea ng-if="row.type == 'textarea'" class="form-control" ng-model="dependent.datarelation[row.key]"></textarea>
                                                                    <input ng-if="row.type == 'url'" type="url" class="form-control" placeholder="https://" ng-model="dependent.data[row.key]">
                                                                    <select ng-if="row.type == 'enum'"  ng-model="dependent.datarelation[row.key]" class="form-control" >
                                                                        <option ng-repeat="option in row.options" ng-value="option">{{option}}</option>
                                                                    </select>
                                                                </div>
                                                            </div>
                                                        </li>
                                                    </ul>
                                                    <div ng-hide="node.relations[dependency.key].length >= dependency.max" ng-init="results = {}">
                                                        <input type="text" class="form-control" ng-model="searchText[dependency.key]" placeholder="Voeg {{dependency.label|lowercase}} toe">
                                                        <div class="autosuggest" ng-show="searchText[dependency.key] && results.length > 0">
                                                            <strong>Selecteer een bestaande {{dependency.type}}:</strong>
                                                            <ul>
                                                                <li ng-repeat="option in relations[dependency.type] | filter: searchText[dependency.key] | nodeIdNotIn: node.dependencies[dependency.key] | limitTo: 10 as results track by option.nodeId" ng-click="addDependency(dependency,option.nodeId);" class="pointer">{{option.title}}</li>
                                                            </ul>
                                                        </div>
                                                        <div class='m-t' ng-show="searchText[dependency.key]  && (!results || results.length < 1 || results[0].title.toLowerCase() != searchText[dependency.key].toLowerCase())">
                                                            <strong>Geen {{dependency.type}} gevonden</strong><br/>
                                                            Je kan alleen een bestaande {{dependency.type}} toevoegen
                                                        </div>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                    <div class="box" ng-show="entity.attachments" ng-if="user.auth.authenticated">
                                        <div class="box-header">
                                            <h2>Bijlage(n)</h2>
                                            <small>Voeg een of meerdere bijlagen toe</small>
                                        </div>
                                        <div class="box-divider m-a-0"></div>
                                        <div class="box-body">
                                            <div ng-repeat="(key, att) in node.data.attachments" class="form-group">
                                                <input class="form-control" type="text" ng-model="node.data.attachments[key].title"><br/>
                                                <a href="{{att.url}}" target="_blank" ng-show="att.url">{{att.name}}</a><span ng-hide="att.url">{{att.name}}</span> ({{att.type}}, {{att.size | bytes}}) <a ng-click="deleteAttachment($index)" class="pull-right"><i class="fa fa-times text-danger"></i> verwijderen</a>
                                            </div>
                                            <div file-upload attachments="node.data.attachments" msg="Klik hier om een bestand toe te voegen, of sleep een bestand hier naar toe"></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-md-6" ng-if="node.nodeId" ng-hide="!user.auth || (!user.auth.authenticated && (!user.auth.accesstoken || user.auth.nodeId != node.nodeId))">
                                    <div class="box">
                                        <div class="box-header">
                                            <h2>Verwijderen</h2>
                                        </div>
                                        <div class="box-divider m-a-0"></div>
                                        <div class="box-body">
                                            <input type="checkbox" ng-model="confirmDelete"> {{entity.single}} '{{node.title}}' verwijderen
                                            <div ng-show="confirmDelete">
                                                <br/>
                                                Weet u zeker dat u '{{node.title}}' wilt verwijderen?
                                                <p>
                                                    <br/>
                                                    <button class="btn btn-danger" ng-click="deleteNode()">Ja</button>
                                                    <button class="btn" ng-click="confirmDelete = false">Nee</button>
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-md-6" ng-if="!node.nodeId">
                                    <div class="box">
                                        <div class="box-header">
                                            <small>Om relaties toe te kunnen voegen, moet je eerst op 'Opslaan' klikken</small>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="tab-pane animated fadeIn text-muted" id="tab3"  ng-class="{'active': view.tab == 'version'}">
                            <div class="col-xs-12 col-md-6">
                                <div class="box">
                                    <div class="box-header">
                                        <h3>Versies</h3>
                                    </div>
                                    <div class="box-body">
                                        <table class="table table-striped">
                                            <thead>
                                            <tr>
                                                <td>Titel</td>
                                                <td>Datum</td>
                                                <td>Door</td>
                                                <td>Status</td>
                                                <td></td>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr ng-repeat="node in history.nodes" class="p-a pointer" ng-class="{'st-selected': node == history.selectedNode}">
                                                <td ng-click="historySelect(node)">{{node.title}}</td>
                                                <td ng-click="historySelect(node)">
                                                    <span ng-hide="node.updated">{{node.created}}</span>
                                                    <span>{{node.updated}}</span>
                                                </td>
                                                <td ng-click="historySelect(node)">
                                                    <span ng-show="$index == 0">{{node.creatorName}}</span>
                                                    <span ng-hide="$index == 0">{{node.updaterName}}</span>
                                                </td>
                                                <td ng-click="historySelect(node)">{{node.status}}</td>
                                                <td>
                                                    <span ng-if="history.selectedNode" ng-show="history.comparedNode == node"><strong><i class="fa fa-arrow-left"></i></strong></span>
                                                    <span ng-if="history.selectedNode" ng-hide="history.comparedNode == node" class="text-muted" ng-click="historyCompare(node)"><i class="fa fa-arrow-circle-o-left"></i></span>
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-12 col-md-6">
                                <div class="box" ng-if="history.selectedNode">
                                    <div class="box-header">
                                        <div class="pull-right mralabel">{{history.selectedNode.status}}</div>
                                        <h3>{{history.selectedNode.title}}</h3>
                                        {{history.selectedNode.created}},
                                        <span ng-show="!history.selectedNode.updaterName && !history.selectedNode.userdata">{{history.selectedNode.creatorName}}</span>
                                        <span ng-show="history.selectedNode.updaterName">{{history.selectedNode.updaterName}}</span>
                                        <span ng-show="history.selectedNode.userdata">Bezoeker</span>
                                    </div>
                                    <div class="box-body">
                                        <div class="b-a p-a m-a">
                                            <span ng-if="history.selectedNode == history.comparedNode" ng-bind-html="history.selectedNode.text"></span>
                                            <span ng-if="history.selectedNode != history.comparedNode" ng-repeat='diff in history.selectedNode.diff.text' class="diff{{diff[0]}}" ng-bind-html="diff[1]"></span>
                                        </div>
                                        <h5 class="m-t">Data</h5>
                                        <table class="table table-striped">
                                            <tr ng-repeat="(key, value) in history.selectedNode.data">
                                                <td><strong>{{key}}</strong></td>
                                                <td>{{value}}</td>
                                            </tr>
                                        </table>
                                    </div>
                                    <div class="box-footer m-y">
                                        <div class="btn btn-fwd danger pull-right" ng-if="history.selectedNode.status != 'current'" ng-click="historyDelete(history.selectedNode)">Verwijderen</div>
                                        <div class="btn btn-fwd success pull-right m-r" ng-if="history.selectedNode.status == 'previous' || history.selectedNode.status == 'deleted'" ng-click="historyRevert(history.selectedNode)">Terugzetten</div>
                                        <div class="btn btn-fwd success" ng-if="history.selectedNode.status == 'suggested'" ng-click="historyApprove(history.selectedNode)">Accepteren</div>
                                    </div>
                                    <div class="box-body">
                                        <div class="text-muted">{{history.selectedNode}}</div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="tab-pane animated fadeIn text-muted" id="tab4"  ng-class="{'active': view.tab == 'share'}">
                            <div class="col-xs-12 col-md-6">
                                <div class="box">
                                    <div class="box-header">
                                        <h3>Delen</h3>
                                    </div>
                                    <div class="box-body">
                                        <div class="form-group">
                                            <label>Via deze link is deze pagina direct beschikbaar:</label>
                                            <input type="text" class="form-control" ng-model="simplelink"/>
                                        </div>
                                    </div>
                                </div>
                                <div class="box">
                                    <div class="box-header">
                                        <h3>Delen met rechten om te wijzigen</h3>
                                    </div>
                                    <div class="box-body">
                                        Wil je iemand die geen account heeft toch toegang geven tot deze pagina met schrijfrechten?
                                        <div ng-hide="token">
                                            <br/>
                                            <div class="btn btn-primary" ng-click="getTokenLink()">Geef link</div>
                                        </div>
                                        <div class="form-group" ng-show="token">
                                            <br/>
                                            <label>Directe link om deze pagina te kunnen wijzigen zonder in te loggen:</label>
                                            <input type="text" class="form-control" ng-model="tokenlink"/>
                                            <div ng-repeat="tab in entity.tabs" class="m-t">
                                                <label>Directe link naar '{{tab.title}}':</label>
                                                <input type="text" class="form-control" ng-value='tokenlink.replace("?token=","/tab/"+tab.key+"?token=")'/>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>


                        <div class="tab-pane animated fadeIn text-muted" ng-repeat="tab in entity.tabs" id="tab-{{tab.key}}"  ng-class="{'active': view.tab == tab.key}">
                            <div compile="tab.templateHTML"></div>
                        </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class='dummyuiview' ui-view></div>
