<script type="text/ng-template" id="nodeTooltip">
     <div class="pointer" ui-sref="node({nodeId: node.nodeId})">
        <strong>{{node.title}}</strong>
     </div>
     <table class="table table-striped">
         <tr ng-repeat="(key, value) in node.data" ng-if="key != 'geometry' && key != 'paths'">
             <td>{{key}}</td>
             <td>{{value}}</td>
         </tr>
     </table>
    </div>
</script>

<script type="text/ng-template" id="nodeTileText">
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-4 node">
        <div class="box pointer licht" ui-sref="node({nodeId: node.nodeId})">
            <div class="item dark" style='height: 220px; background-image: url("{{node.imgUrl}}"); background-repeat: no-repeat; background-position: center; background-size: cover;'>
                <a class="item-overlay w-full">
                    <span class="bottom text-md primary" style='padding: 10px; font-weight: bold'><i class="fa fa-plus"></i> Klik voor meer info</span>
                </a>
            </div>
            <div class="p-a">
                <div class="node-tile-text">
                    <h5>{{node.title}}</h5>
                    <span ng-bind-html="node.text | plain:150"></span>
                    <!--<br/><a class="btn btn-xs white m-t">Meer info</a>-->
                </div>
                <div class="node-tile-labels">
                    <a href="" class="pull-left mralabel" ng-repeat="tag in node.path.split(';')" ng-hide="tag.length==0">{{tag}}</a>
                    <div style="clear: both"></div>
                </div>
            </div>
        </div>
    </div>
    <div ng-if="($index + 1) % 2 == 0" class="clearfix visible-lg visible-md" style="clear: both"></div>
    <div ng-if="($index + 1) % 3 == 0" class="clearfix visible-xl visible-xxl" style="clear: both"></div>
</script>

<script type="text/ng-template" id="nodeMiniTile">
    <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3 col-xl-2 node">
        <div class="box pointer licht" ui-sref="node({nodeId: node.nodeId})">
            <div class="item dark" style='height: 120px; background-image: url("{{node.imgUrl}}"); background-repeat: no-repeat; background-position: center; background-size: cover;'>
                <a class="item-overlay w-full">
                    <span class="bottom text-md primary" style='padding: 10px; font-weight: bold'><i class="fa fa-plus"></i> Klik voor meer info</span>
                </a>
            </div>
            <div class="p-a">
                <strong>{{node.title}}</strong>
            </div>
        </div>
    </div>
    <div ng-if="($index + 1) % 2 == 0" class="clearfix visible-xs visible-sm" style="clear: both"></div>
    <div ng-if="($index + 1) % 4 == 0" class="clearfix visible-lg visible-md" style="clear: both"></div>
    <div ng-if="($index + 1) % 6 == 0" class="clearfix visible-xl visible-xxl" style="clear: both"></div>
</script>

<script type="text/ng-template" id="nodeRowTile">
    <div class="col-xs-12 col-sm-12 col-md-12 node m-b">
        <div class="pointer" ui-sref="node({nodeId: node.nodeId})">
            <div class="item dark" style='float: left; width: 105px; height: 60px; background-image: url("{{node.imgUrl}}"); background-repeat: no-repeat; background-position: center; background-size: cover;'>
            </div>
            <div class="p-a" style="margin-left: 115px; min-height: 60px">
                {{node.title}}
            </div>
        </div>
    </div>
    <div ng-if="($index + 1) % 2 == 0" class="clearfix visible-lg visible-xl" style="clear: both"></div>
</script>

<script type="text/ng-template" id="nodeTinyTile">
    <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3 col-xl-2 node m-b">
        <div class="pointer licht" ui-sref="node({nodeId: node.nodeId})">
            <div class="item dark" style='float: left; width: 60px; height: 60px; background-image: url("{{node.imgUrl}}"); background-repeat: no-repeat; background-position: center; background-size: cover;'>
            </div>
            <div class="p-a" style="margin-left: 70px; min-height: 60px">
                {{node.title}}
            </div>
        </div>
    </div>
    <div ng-if="($index + 1) % 2 == 0" class="clearfix visible-xs visible-sm" style="clear: both"></div>
    <div ng-if="($index + 1) % 4 == 0" class="clearfix visible-lg visible-md" style="clear: both"></div>
    <div ng-if="($index + 1) % 6 == 0" class="clearfix visible-xl visible-xxl" style="clear: both"></div>
</script>


<script type="text/ng-template" id="nodeTile">
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-4 node">
        <div class="box pointer" ui-sref="node({nodeId: node.nodeId})">
            <div class="item dark" style='height: 220px; background-image: url("{{node.imgUrl}}"); background-repeat: no-repeat; background-position: center; background-size: cover;'>
                <div class="item-overlay active p-a">
                    <a href="" class="pull-left text-u-c label label-md info p-a-sm m-r-sm" ng-repeat="tag in node.path.split(';')">{{tag}}</a>
                </div>
                <a class="item-overlay active w-full">
                    <span class="bottom text-md main-title" style='padding: 10px; font-weight: bold'>{{node.title}}</span>
                </a>
            </div>
        </div>
    </div>
    <div ng-if="($index + 1) % 2 == 0" class="clearfix visible-lg visible-md" style="clear: both"></div>
    <div ng-if="($index + 1) % 3 == 0" class="clearfix visible-xl visible-xxl" style="clear: both"></div>
</script>


<script type="text/ng-template" id="nodeSet">
    <div class="col-xs-12 node pointer">
        <div class="box">
            <div class="box-header primary">
                <a id="node{{node.nodeId}}" ui-sref="node({'nodeId': node.nodeId})"><h3>{{node.title}}</h3></a>
            </div>
            <div class="box-body">
                <span ng-bind-html="node.text | plain:500"></span>
                <div class="row">
                    <div ng-repeat-start="relation in entity.relations" ng-if="relation.clear" class="clearfix" style="clear: both"></div>
                    <div ng-repeat-end class="col-xs-12 col-md-{{relation.cols}}" ng-if="node[relation.key].length > 0">
                        <h5 class="m-t p-b m-b b-b">{{relation.label}}</h5>
                        <div ng-if="!relation.custom" ui-include="'app/components/nodes/nodes.views.template.html'"  ng-init="nodes = node[relation.key]; view=relation.view; faceted=false"></div>
                        <div ng-if="relation.custom" ui-include="'{{relation.custom}}'"  ng-init="nodes = node[relation.key];"></div>
                    </div>

                    <div ng-repeat-start="relation in entity.dependencies" ng-if="relation.clear" class="clearfix" style="clear: both"></div>
                    <div ng-repeat-end class="col-xs-12 col-md-{{relation.cols}}" ng-if="node[relation.key].length > 0">
                        <h5 class="m-t p-b m-b b-b">{{relation.label}}</h5>
                        <div ng-if="!relation.custom" ui-include="'app/components/nodes/nodes.views.template.html'"  ng-init="nodes = node[relation.key]; view=relation.view; faceted=false"></div>
                        <div ng-if="relation.custom" ui-include="'{{relation.custom}}'"  ng-init="nodes = node[relation.key];"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</script>


<script type="text/ng-template" id="nodePolaroid">
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-4 node">
        <div class="box p-a-xs" ui-sref="node({nodeId: node.nodeId})">
            <img src="{{node.imgUrl}}" alt="" class="img-responsive" style='min-height: 100px; max-height: 250px; overflow: hidden'></a>
            <div class="p-a-sm">
                <div class="text-ellipsis text-md strong">{{node.title}}</div>
            </div>
        </div>
    </div>
    <div ng-if="($index + 1) % 2 == 0" class="clearfix visible-lg visible-md" style="clear: both"></div>
    <div ng-if="($index + 1) % 3 == 0" class="clearfix visible-xl visible-xxl" style="clear: both"></div>
</script>

<script type="text/ng-template" id="nodeList">
    <div class="col-xs-12 node pointer" ui-sref="node({nodeId: node.nodeId})">
        <div class="p-b-md m-b-md b-b">
            <div ng-hide="!node.imgUrl || node.imgUrl.length == 0" style='margin-left: 20px; float:right; width: 250px; height: 150px; background-image: url("{{node.imgUrl}}"); background-repeat: no-repeat; background-position: center; background-size: cover;'>
            </div>
            <div style="margin-right: 270px">
                <small ng-if="multipleTypes" class="text-primary _500">{{node.typeSingle}}</small>
                <h6>{{node.title}}</h6>
                <div ng-bind-html="node.text | plain:200"></div>
                <div class="text-muted text-sm">
                    <span class="m-r" ng-repeat="relation in entity.relations" ng-if="node[relation.key].length > 0">{{relation.label}}: {{node[relation.key].length}}</span>
                    <span class="m-r" ng-repeat="dependency in entity.dependencies" ng-if="node[dependency.key].length > 0">{{dependency.label}}: {{node[dependency.key].length}}</span>
                </div>
                <div class="node-facet-labels">
                    <a href="" class="pull-left mralabel" ng-repeat="tag in node.path.split(';')" ng-hide="tag.length==0">{{tag}}</a>
                    <div style="clear: both"></div>
                </div>
            </div>
        </div>
        <div style="clear: both"></div>
    </div>
</script>

<div class="row m-t">
    <div ng-if="faceted" class="col-sm-3 col-lg-2">
        <div class="box" ng-if="filters && filters.length > 0">
            <div class="box-body">
                <a class="label primary p-a-sm m-b-sm m-r-sm" ng-repeat="filter in filters" ng-click="deleteFilter(filter)">{{filter.facet.label}}: {{filter.option.label}} <i class="fa fa-times"></i></a>
            </div>
        </div>
        <div class="box" ng-repeat="facet in facets" ng-show="facet.options.length > 0 && facet.label">
            <div class="box-header primary">
                <h3>{{facet.label}}</h3>
            </div>
            <div class="box-body">
                <div ng-repeat="option in facet.options | orderBy: ['-count','label'] | limitTo: facet.show  track by $index">
                    <a ng-click="addFilter(facet, option)">{{option.label}} ({{option.count}})</a>
                </div>
                <a class="text-muted" ng-click="facet.show = facet.options.length" ng-if="facet.show < facet.options.length">Meer...</a>
                <a class="text-muted" ng-click="facet.show = 5" ng-if="facet.show == facet.options.length && facet.show > 5">Minder...</a>
            </div>
        </div>
    </div>

    <div class="col-sm-12" ng-class="{'col-sm-9 col-lg-10': faceted}">

        <div class="row" ng-if="view == 'tile'">
            <div ng-repeat="node in nodes | orderBy:orderProp | filter: {'visible': true} | filter: zoeken.searchText as results" ng-include="'nodeTileText'"></div>
        </div>

        <div class="row" ng-if="view == 'mini'">
            <div ng-repeat="node in nodes | orderBy:orderProp | filter: {'visible': true} | filter: zoeken.searchText as results" ng-include="'nodeMiniTile'"></div>
        </div>

        <div class="row" ng-if="view == 'row'">
            <div ng-repeat="node in nodes | orderBy:orderProp | filter: {'visible': true} | filter: zoeken.searchText as results" ng-include="'nodeRowTile'"></div>
        </div>

        <table ng-if="view == 'table'" class="table table-striped b-t">
            <thead>
            <tr>
                <th>{{entity.path.label}}</th>
                <th>{{entity.single}}</th>
                <th ng-repeat="data in entity.data | limitTo: 3">{{data.label}}</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="node in nodes | orderBy:orderProp | filter: {'visible': true} |filter: zoeken.searchText as results" ui-sref="node({nodeId: node.nodeId})" class="pointer">
                <td><span href="" class="label info p-a-sm m-r-sm" ng-repeat="tag in node.path.split(';')">{{tag}}</span></td>
                <td>{{node.title}}</td>
                <td ng-repeat="d in entity.data | limitTo: 3">{{node.data[d.key]}}</td>
            </tr>
            </tbody>
        </table>


        <div ng-if="view == 'list'">
            <div class="col-sm-12">
                <div ng-repeat="node in nodes | orderBy:orderProp | filter: {'visible': true} | filter: zoeken.searchText as results track by $index">
                    <div ui-include="'nodeList'"></div>
                </div>
            </div>
        </div>

        <div ng-if="view == 'simple'">
            <div class="col-sm-12">
                <ul>
                    <li ng-repeat="node in nodes | orderBy:orderProp | filter: {'visible': true} | filter: zoeken.searchText as results track by $index" ui-sref="node({'nodeId': node.nodeId})" class="pointer">
                        <div ng-if="$index == 0 || list[$index-1].path != node.path" ng-class="{'m-t-sm': $index > 0}" class="text-sm _600">
                            {{node.path | path}}
                        </div>
                        {{node.title}}
                    </li>
                </ul>
            </div>
        </div>

        <div ng-if="view == 'tree' && nodesLoaded" class="row">
            <script type="text/ng-template" id="nodeTree">
                <div style='padding-left: 20px' ng-hide="resultingNodes.length == 0 && resultingSubs.length == 0">
                    <h6>{{sub.title}}</h6>
                    <div ng-repeat="sub in sub.subs | orderBy: orderProp | filter: zoeken.searchText as resultingSubs track by $index" ng-include="'nodeTree'" ng-hide="">
                    </div>
                    <ul class="treeview" style="padding-left: 0px">
                        <li ng-repeat="node in sub.nodes | filter: {'visible': true} | filter: zoeken.searchText  as resultingNodes track by $index" ng-include="'nodeLeaf'">
                        </li>
                    </ul>
                </div>
            </script>

            <script type="text/ng-template" id="nodeLeaf">
                <a ui-sref="node({nodeId: node.nodeId})" class="pointer">{{node.title}}</a>
            </script>

            <div class="col-xs-12 columns3">
                <div ng-repeat="sub in tree.subs | orderBy: orderProp| filter: zoeken.searchText track by $index">
                    <div class="box" style="break-inside: avoid-column">
                        <div class="box-header primary">
                            <h3>{{sub.title}}</h3>
                        </div>
                        <div class="box-body">
                            <div ng-repeat="sub in sub.subs | orderBy: orderProp| filter: zoeken.searchText track by $index" ng-include="'nodeTree'">
                            </div>
                            <ul class='treeview' style="padding-left: 0px">
                                <li ng-repeat="node in sub.nodes | orderBy: orderProp| filter: {'visible': true} | filter: zoeken.searchText track by $index" ng-include="'nodeLeaf'">
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="col-sm-12 col-md-6 col-xl-4" ng-if="tree.nodes.length > 0">
                    <div class="box">
                        <div class="box-header">
                            <h6>Zonder {{entity.path.label}}</h6>
                        </div>
                        <div class="box-body">
                            <ul class="treeview">
                                <li ng-repeat="node in tree.nodes | orderBy: orderProp| filter: {'visible': true} | filter: zoeken.searchText track by $index" ng-include="'nodeLeaf'"></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div ng-if="view == 'chapters' && nodesLoaded" class="row">
            <div class="col-xs-12 col-md-3 col-xl-2" ng-init="chapters = tree">
                <div class="box">
                    <div class="box-body nopadding">
                        <div ui-include="'app/components/custom/nodes.simpletree.accordion.template.html'"></div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-md-9 col-xl-10">
                <div ng-repeat="sub in tree.subs | orderBy: ['title']| filter: zoeken.searchText track by $index">
                    <div class="box" style="background-color: transparent">
                        <div class="box-header primary">
                            <h3>{{sub.title}}</h3>
                        </div>
                        <div class="box-body ypadding" style="background-color: transparent">
                            <div class="row">
                                <div ng-repeat="node in sub.nodes | orderBy: ['datetime']| filter: {'visible': true} | filter: zoeken.searchText track by $index" ng-include="'nodeTileText'">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div ng-if="view == 'set'" class="row">
            <div class="col-xs-12 col-md-3 col-xl-2" ng-init="chapters = nodes">
                <div class="box">
                    <div class="box-body nopadding">
                        <div ui-include="'app/components/custom/nodes.nodes.accordion.template.html'"></div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-md-9 col-xl-10">
                <div ng-repeat="node in nodes | filter: {'visible': true} | filter: zoeken.searchText as results track by $index">
                    <div ui-include="'nodeSet'"></div>
                </div>
            </div>
        </div>

        <div ng-if="view == 'custom' && nodesLoaded" ui-include="'{{entity.custom}}'">
        </div>

        <div ng-if="view=='geo' && nodesLoaded">
            <div class="row">
                <div class="col-xs-12">
                    <div map-lazy-load="https://maps.google.com/maps/api/js"
                         map-lazy-load-params="{{googleMapsUrl}}"
                         style="width: 100%; height: 50vh; margin-bottom: 20px; ">
                        <ng-map style="display: block; height: 100%; width: 100%;">
                            <shape ng-repeat="path in paths"
                                   name="polygon"
                                   paths="{{path.paths}}"
                                   stroke-color="#2e3e4e"
                                   stroke-opacity="0.5"
                                   stroke-weight="2"
                                   fill-color="#e2eeee"
                                   fill-opacity="0.5"
                                   on-mouseover="geoOver(path.node)"
                                   on-mouseout="geoOut()"
                                   on-click="geoSelect(path.node)"
                            >
                            </shape>
                        </ng-map>
                        <div ng-show='node' id="tooltip" ng-include="'nodeTooltip'" style="left: {{tooltipX}}px; top: {{tooltipY}}px"></div>
                    </div>
                </div>
                <div ng-repeat="node in nodes | orderBy: ['title'] | filter: {'visible': true} | filter: zoeken.searchText as results track by $index" ui-include="'nodeTinyTile'">
                </div>
            </div>
        </div>


        <div class="white lt box-shadow" ng-if="nodes.length == 0 && loaded">
            <div class="row">
                <div class="col-sm-12">
                    <div class="box">
                        <div class="box-header">
                            <h3>Geen {{entity.plural}}</h3>
                        </div>
                        <div class="box-body">
                            Er zijn geen {{entity.plural}} gevonden.
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
