<div class="row m-t" ng-if="view == 'tile'">
    <div ng-repeat="node in nodes | orderBy:orderProp | filter: zoeken.searchText as results">
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-4 node">
            <div class="box pointer" ui-sref="node({nodeId: node.nodeId})">
                <div class="item dark" style='min-height: 100px; max-height: 250px; overflow: hidden'>
                    <div class="item-overlay active p-a">
                        <a href="" class="pull-left text-u-c label label-md info p-a-sm m-r-sm" ng-repeat="tag in node.path.split(';')">{{tag}}</a>
                    </div>
                    <img src="{{node.imgUrl}}" class="w-full">
                    <a class="item-overlay w-full">
                        <span class="bottom text-md primary" style='padding: 10px; font-weight: bold'><i class="fa fa-plus"></i> Klik voor meer info</span>
                    </a>
                </div>
                <div class="p-a">
                    <h6>{{node.title}}</h6>
                    {{node.text | maxlength:100}}
                    <br/><a class="btn btn-xs white m-t">Meer info</a>
                </div>
            </div>
        </div>
        <div ng-if="($index + 1) % 2 == 0" class="clearfix visible-lg visible-md" style="clear: both"></div>
        <div ng-if="($index + 1) % 3 == 0" class="clearfix visible-xl visible-xxl" style="clear: both"></div>
    </div>
</div>


<table ng-if="view == 'list'"class="table table-striped b-t m-t">
    <thead>
    <tr>
        <th>{{entity.path.label}}</th>
        <th>{{entity.single}}</th>
        <th ng-repeat="data in entity.data | limitTo: 3">{{data.label}}</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="node in nodes | orderBy:orderProp | filter: zoeken.searchText as results" ui-sref="node({nodeId: node.nodeId})" class="pointer">
        <td><span href="" class="label info p-a-sm m-r-sm" ng-repeat="tag in node.path.split(';')">{{tag}}</span></td>
        <td>{{node.title}}</td>
        <td ng-repeat="d in entity.data | limitTo: 3">{{node.data[d.key]}}</td>
    </tr>
    </tbody>
</table>


<div ng-if="view == 'tree' && nodesLoaded" class="row m-t">
    <script type="text/ng-template" id="nodeTree">
        <div style='padding-left: 20px'>
            <h6>{{sub.title}}</h6>
            <div ng-repeat="sub in sub.subs | orderBy: orderProp | filter: zoeken.searchText" ng-include="'nodeTree'">
            </div>
            <ul class="treeview" style="padding-left: 0px">
                <li ng-repeat="node in sub.nodes | filter: zoeken.searchText" ng-include="'nodeLeaf'">
                </li>
            </ul>
        </div>
    </script>

    <script type="text/ng-template" id="nodeLeaf">
        <a ui-sref="node({nodeId: node.nodeId})" class="pointer">{{node.title}}</a>
    </script>

    <div class="col-xs-12 columns3">
        <div ng-repeat="sub in tree.subs | orderBy: orderProp| filter: zoeken.searchText">
            <div class="box" style="break-inside: avoid-column">
                <div class="box-header primary">
                    <h3>{{sub.title}}</h3>
                </div>
                <div class="box-body">
                    <div ng-repeat="sub in sub.subs | orderBy: orderProp| filter: zoeken.searchText" ng-include="'nodeTree'">
                    </div>
                    <ul class='treeview' style="padding-left: 0px">
                        <li ng-repeat="node in sub.nodes | orderBy: orderProp| filter: zoeken.searchText" ng-include="'nodeLeaf'">
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="col-sm-12 col-md-6 col-xl-4" ng-if="tree.nodes.length > 0">
            <div class="box">
                <div class="box-header">
                    <h6>Zonder {{entity.path.label}}</h6>
                </div>
                <div class="box-body">
                    <ul class="treeview">
                        <li ng-repeat="node in tree.nodes | orderBy: orderProp| filter: zoeken.searchText" ng-include="'nodeLeaf'"></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<div ng-if="view=='facet'" class="row m-t">
    <div class="col-sm-3 col-lg-2">
        <div class="box" ng-if="filters && filters.length > 0">
            <div class="box-body">
                <a class="label primary p-a-sm m-b-sm m-r-sm" ng-repeat="filter in filters" ng-click="deleteFilter(filter)">{{filter.facet.label}}: {{filter.option.label}} <i class="fa fa-times"></i></a>
            </div>
        </div>
        <div class="box" ng-repeat="facet in facets" ng-show="facet.options.length > 0">
            <div class="box-header primary">
                <h3>{{facet.label}}</h3>
            </div>
            <div class="box-body">
                <div ng-repeat="option in facet.options | orderBy: ['-count','label'] | limitTo: facet.show  track by $index">
                    <a ng-click="addFilter(facet, option)">{{option.label}} ({{option.count}})</a>
                </div>
                <a class="text-muted" ng-click="facet.show = facet.options.length" ng-if="facet.show < facet.options.length">Meer...</a>
                <a class="text-muted" ng-click="facet.show = 5" ng-if="facet.show == facet.options.length && facet.show > 5">Minder...</a>
            </div>
        </div>

    </div>
    <div class="col-sm-9 col-lg-10">
        <div class="col-xs-12 node pointer p-b m-b b-b" ng-repeat="node in nodes | orderBy:orderProp | filter: {'visible': true} | filter: zoeken.searchText as results track by $index"  ui-sref="node({nodeId: node.nodeId})">
            <div style="width: 250px; margin-left: 20px; float:left" ng-if="node.imgUrl">
                <img src="{{node.imgUrl}}" class="w-full">
            </div>
            <div style="margin-left: 270px">
                <div class="p-a">
                    <small ng-if="multipleTypes">{{node.typeSingle}}</small>
                    <h6>{{node.title}}</h6>
                    <p>{{node.text | maxlength:200}}</p>
                    <a href="" class="pull-left text-u-c label label-md info p-a-sm m-r-sm" ng-repeat="tag in node.path.split(';')">{{tag}}</a>
                </div>
            </div>
            <div style="clear: both"></div>
        </div>
    </div>
</div>

<div class="white lt box-shadow" ng-if="nodes.length == 0 && loaded">
    <div class="row">
        <div class="col-sm-12">
            <div class="box">
                <div class="box-header">
                    <h3>Geen {{entity.plural}}</h3>
                </div>
                <div class="box-body">
                    Er zijn geen {{entity.plural}} gevonden.
                </div>
            </div>
        </div>
    </div>
</div>

