<div class="p-a">
    <div class="box licht lt" ng-if="!isParentObject && !state.current.run">
        <div class="row">
            <div class="col-xs-6">
                <h4 class="p-a m-b-0 datapedia" ui-sref="module.nodes({'modulename': module.name, 'type': node.type})">{{entity.plural}}</h4>
            </div>
            <div class="col-xs-6">
                <div class="navbar-form form-inline navbar-item m-l v-m pull-right">
                    <ul class="nav navbar-nav pull-right m-r">
                        <li class="nav-item dropdown">
                            <!--<a class="nav-link" ui-sref="module.nodes({'modulename': module.name, 'type': node.type})">&lt;&lt; Terug</a>-->
                            <a class="nav-link" onclick="window.history.back()">&lt;&lt; Terug</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="box licht lt m-b" ng-if="isParentObject">
        <div class="row p-l p-r p-t">
            <div class="col-md-3" style="text-align: center">
                <div style="max-height: 250px; margin: -100px auto 20px auto;">
                    <img ng-if="node.imgUrl && !node.imgUrl.src" src="{{node.imgUrl}}" style="max-height: 250px;" class="m-b-2">
                    <img ng-if="node.imgUrl && node.imgUrl.src" src="{{node.imgUrl.src}}" style="width: 100%" class="m-b-2">
                </div>
            </div>
            <div class="col-md-6">
                <div class="pull-right" style="font-size: 80%" ng-show="user.auth.role=='admin'">
                    <a class="nav-link" ui-sref="^.parent.tab({'parententity': node.type, 'key': node.key, 'tab': 'edit'})" href="" data-toggle="tab" data-target="#tab2" ng-hide="view.tab == 'edit'">Wijzig</a>
                    <a class="nav-link" ui-sref="^.parent.tab({'parententity': node.type, 'key': node.key, 'tab': 'details'})" href="" data-toggle="tab" data-target="#tab1" ng-hide="view.tab == 'details'">Terug</a>
                </div>
                <div class="text-muted" ng-if="node.path">{{node.path | path}}</div>
                <h1>{{node.title}}</h1>
                <div ng-bind-html="node.text"></div>
                <div ng-if="node.date">{{node.date | compleetDateTime}}</div>
            </div>
            <div class="col-md-3">
                <div class="pull-right">
                    <div ng-repeat="module in node.modules" ng-if="module.button">
                        <a ng-if="!module.nodeId" class="btn btn-primary m-b-sm" ui-sref="^.parent.nodes({'type': module.type})" style="text-align: left; min-width: 150px">
                            <i class="bi me-2 fa {{module.icon}}" ng-if="module.icon"></i>
                            {{module.buttonlabel}}
                        </a>
                        <a ng-if="module.nodeId" class="btn btn-primary m-b-sm" ui-sref="^.parent.node({'nodeId': module.nodeId})" style="text-align: left; min-width: 150px">
                            <i class="bi me-2 fa {{module.icon}}" ng-if="module.icon"></i>
                            {{module.buttonlabel}}
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row p-x">
        <div class="col-xs-12 col-md-4 col-lg-3 col-xl-2" ng-if="isParentObject">
            <!-- TODO: Modules laden uit parentObject -->
            <ul class="list-group m-t">
                <li class="list-group-item" ng-repeat='module in node.modules' ng-class="{'active': (!currentChildId && !module.nodeId && currentParentModule == module.type) || (module.nodeId && currentChildId && currentChildId == module.nodeId)}">
                    <a ng-if='!module.nodeId' ui-sref="^.parent.nodes({'type': module.type})">{{module.label}}</a>
                    <a ng-if='module.nodeId' ui-sref="^.parent.node({'nodeId': module.nodeId, 'title': module.label, 'type': module.type})">{{module.label}}</a>
                </li>
            </ul>
        </div>
        <!-- ParentObject: {{isParentObject}} / Current run: {{state.current.run}} / Current ChildId: {{currentChildId}} / Current Parent Id: {{currentParentId}} / Node.NodeId: {{node.nodeId}} / view.tab: {{view.tab}} -->
        <div class='col-xs-12' ng-class="{'col-xs-12 col-md-8 col-lg-9 col-xl-10': isParentObject}" ng-if="!isParentObject || view.tab != 'details'"> <!-- Let op: view.tab wordt hier niet upgedate, blijft van de node -->
            <div ng-if="entity.itemview && view.tab == 'details'" ui-include="'{{entity.itemview}}'"></div>
            <div class="box" ng-class="{'ypadding': !state.current.run || state.current.run !='child'}" ng-hide="entity.itemview && (user.auth.role != 'admin')">
                <div class="box-header" ng-class="{'ypadding': !state.current.run || state.current.run !='child'}" ng-if="!isParentObject">
                    <div class="b-b nav-active-bg row">
                        <div class="col-md-7 col-lg-8">
                            <img ng-if="node.imgUrl && !node.imgUrl.src && entity.image == 'logo'" src="{{node.imgUrl}}" style="height: 2.5rem; float: left; margin: 0px 1.5rem 1rem 0px">
                            <img ng-if="node.imgUrl && node.imgUrl.src && entity.image == 'logo'" src="{{node.imgUrl.src}}" style="height: 2.5rem; float: left; margin: 0px 1.5rem 1rem 0px">
                            <div class="text-muted" ng-if="node.path">{{node.path | path}}</div>
                            <h1>{{node.title}}</h1>
                            <div ng-if="node.date">{{node.date | compleetDateTime}}</div>
                            <div ng-if="showNextPrev" class="pull-right">
                                <small style="white-space: nowrap">
                                    <span ui-sref="module.node({'modulename': module.name, nodeId: siblings.previous.nodeId})" class="text-muted pointer" ng-show="siblings.previous"><i class="fa fa-angle-double-left"></i> {{siblings.previous.title}}</span>
                                    <span ng-show="siblings.next && siblings.previous" style="padding: 0em 1em">|</span>
                                    <span ui-sref="module.node({'modulename': module.name, nodeId: siblings.next.nodeId})" class="text-muted pointer" ng-show="siblings.next">{{siblings.next.title}} <i class="fa fa-angle-double-right"></i></span>
                                </small>
                            </div>
                        </div>
                        <div class="col-md-5 col-lg-4 v-b" ng-hide="hideWiki">
                            <ul class="nav nav-tabs pull-right" style="margin-top: 2.5rem">
                                <li class="nav-item">
                                    <a class="nav-link" ui-sref="^.node.tab({'modulename': module.name, 'nodeId': node.nodeId, 'tab': 'details'})" data-toggle="tab" data-target="#tab1" ng-class="{'active': view.tab == 'details'}">Details</a>
                                </li>
                                <li ng-repeat="tab in entity.tabs" class="nav-item">
                                    <a class="nav-link"  ui-sref="^.node.tab({'modulename': module.name, 'nodeId': node.nodeId, 'tab': tab.key})" href="" data-toggle="tab" data-target="#tab-{{tab.key}}" ng-class="{'active': view.tab == tab.key}">{{tab.title}}</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link"  ui-sref="^.node.tab({'modulename': module.name, 'nodeId': node.nodeId, 'tab': 'edit'})" href="" data-toggle="tab" data-target="#tab2" ng-class="{'active': view.tab == 'edit'}">Wijzig</a>
                                </li>
                                <li class="nav-item" ng-if="user.isEditorOrUp">
                                    <a class="nav-link"  ui-sref="^.node.tab({'modulename': module.name, 'nodeId': node.nodeId, 'tab': 'share'})" data-toggle="tab" data-target="#tab4" ng-class="{'active': view.tab == 'share'}">Delen</a>
                                </li>
                                <li class="nav-item" ng-if="user.isEditorOrUp">
                                    <a class="nav-link"  ui-sref="^.node.tab({'modulename': module.name, 'nodeId': node.nodeId, 'tab': 'version'})" data-toggle="tab" data-target="#tab3" ng-class="{'active': view.tab == 'version'}">Versiebeheer</a>
                                </li>
                            </ul>
                            <div style="clear: both"></div>
                        </div>
                    </div>
                </div>
                <div class="box-body ypadding itemcontent">
                    <div class="tab-content p-y m-b-md">
                        <div class="tab-pane animated fadeIn text-muted" id="tab1"  ng-class="{'active': view.tab == 'details'}" ng-if="!isParentObject">
                            <div ui-include="'app/components/nodes/node.details.part.html'"/>
                        </div>
                        <!--- EDIT -------------------------------------------------->
                        <div class="tab-pane animated fadeIn text-muted" id="tab2"  ng-class="{'active': view.tab == 'edit'}">
                            <div ui-include="'app/components/nodes/node.edit.part.html'"/>
                        </div>
                        <!--- VERSIEBEHEER -------------------------------------------------->

                        <div class="tab-pane animated fadeIn text-muted" id="tab3"  ng-class="{'active': view.tab == 'version'}">
                            <div ui-include="'app/components/nodes/node.versioning.part.html'"/>
                        </div>
                        <!--- DELEN -------------------------------------------------->
                        <div class="tab-pane animated fadeIn text-muted" id="tab4"  ng-class="{'active': view.tab == 'share'}">
                            <div class="col-xs-12 col-md-6">
                                <div class="box">
                                    <div class="box-header">
                                        <h3>Delen</h3>
                                    </div>
                                    <div class="box-body">
                                        <div class="form-group">
                                            <label>Via deze link is deze pagina direct beschikbaar:</label>
                                            <input type="text" class="form-control" ng-model="simplelink"/>
                                        </div>
                                    </div>
                                </div>
                                <div class="box">
                                    <div class="box-header">
                                        <h3>Delen met rechten om te wijzigen</h3>
                                    </div>
                                    <div class="box-body">
                                        Wil je iemand die geen account heeft toch toegang geven tot deze pagina met schrijfrechten?
                                        <div ng-hide="token">
                                            <br/>
                                            <div class="btn btn-primary" ng-click="getTokenLink()">Geef link</div>
                                        </div>
                                        <div class="form-group" ng-show="token">
                                            <br/>
                                            <label>Directe link om deze pagina te kunnen wijzigen zonder in te loggen:</label>
                                            <input type="text" class="form-control" ng-model="tokenlink"/>
                                            <div ng-repeat="tab in entity.tabs" class="m-t">
                                                <label>Directe link naar '{{tab.title}}':</label>
                                                <input type="text" class="form-control" ng-value='tokenlink.replace("?token=","/tab/"+tab.key+"?token=")'/>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane animated fadeIn text-muted" ng-repeat="tab in entity.tabs" id="tab-{{tab.key}}"  ng-class="{'active': view.tab == tab.key}">
                            <div compile="tab.templateHTML"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class='col-xs-12 col-md-8 col-lg-9 col-xl-10' ng-if="isParentObject" ui-view>
        </div>
    </div>
</div>