<header ui-include="'app/components/main/header.part.template.html'">
</header>
<div class="background" style="background-image: url('{{module.background}}');"></div>

<!-- content -->
<div id="content" role="main">
    <div class="app-body" id="view" ui-view>
        <!-- ############ PAGE START-->
    </div>

</div> <!-- content -->

<footer id="main-footer">
    <div id="footer-widgets" class="row">
        <div class="footer-widget">
            <div id="text-4" class="col-xs-12 col-md-4">
                <h4 class="title">Over de Data Top 15</h4>
                <div class="textwidget"><p>In het programma 'Digitalisering Overheden' werken 5 landsdelen samen om in 2023 'digitaal capabel in mobiliteit' te zijn. Aan de hand van de Data Top 15 wordt data van de wegbeheerders gepubliceerd.</p>
                    <p><a href="https://www.datapedia.nl/datatop15/nodes/datatop15"><strong>Bekijk de Data Top 15</strong></a></p>
                </div>
            </div> <!-- end .fwidget -->
        </div> <!-- end .footer-widget -->

        <div class="footer-widget">
            <div id="text-3" class="col-xs-12 col-md-4">
                <h4 class="title">Over het Regionaal Data Team (RDT)</h4>
                <div class="textwidget"><p>In het landsdeel Noord-Holland/Flevoland is het Regionaal Datateam (RDT) actief om wegbeheerders te ondersteunen in de digitaliserings-opgave.</p>
                    <p><a href="https://www.datapedia.nl/smartmobility/node/data-top-15/639"><strong>Meer info</strong></a></p>
                </div>
            </div> <!-- end .fwidget -->
        </div> <!-- end .footer-widget -->

        <div class="footer-widget">
            <div id="text-2" class="col-xs-12 col-md-4">
                <h4 class="title">Over MRA Smart Mobility</h4>
                <div class="textwidget"><p>Het MRA-platform Smart Mobility richt zich concreet op innovaties op datagebied in combinatie met het optimaal benutten van slimme techniek.</p>
                    <p><a href="//smartmobilitymra.nl/over-ons/"><strong>Lees meer</strong></a></p>
                </div>
                <img style="width: 250px" src="app/images/logoMRA.png">
            </div> <!-- end .fwidget -->
        </div> <!-- end .footer-widget -->
    </div> <!-- #footer-widgets -->
</footer>